---
import { nosotrosFble } from "@/assets/data/data";
import MapaUbicacion from "@/components/MapaUbicacion.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
  <h1 class="title">Frigoríficos BLE</h1>

  <Fragment class="describe" set:html={nosotrosFble} />
  <div class="max-w-4xl mx-auto p-8">
    <div class="card bg-base-100 w-full shadow-xl">
      <MapaUbicacion />
      <div class="card-body">
        <h2 class="card-title">Avenida carrera 86 # 15 A – 91</h2>

        <div class="justify-end">
          <div class="flex p-4">
            <Icon name="phone" class="w-8 h-8 text-bleAzul" />
            <div>Celular: 3226657866</div>
          </div>

          <div class="flex p-4">
            <Icon name="mail" class="w-8 h-8 text-bleAzul" />
            <div>info@frigorificosble.com</div>
          </div>

          <!-- 
           -->
        </div>
      </div>
    </div>
  </div>
</Layout>
