---
import Layout from "../layouts/Layout.astro";
import { serviciosFble } from "@/assets/data/data";
import ServiciosCardHome from "@/components/cards/ServiciosCardHome.astro";
import LogoHiper from "@/assets/hipercentro-horiz.svg";
import LogoBle from "@/assets/logo-azul-transparente.svg";
import { Image } from "astro:assets";
---

<Layout>
  <h1 class="title">Bienvenidos a Frigoríficos BLE</h1>
  <div class="grid-cols-1 grid md:grid-cols-2 gap-12 xl:grid-cols-3 p-8">
    {
      serviciosFble.map((servicio) => (
        <ServiciosCardHome title={servicio.title} content={servicio.describe} />
      ))
    }
  </div>
  <div class="flex gap-8">
    <div class="ble bg-bleBlanco w-full">
      <Image src={LogoBle} alt="Frigoríficos BLE" class="w-96 p-12 mx-auto" />
    </div>
    <div class="hiper bg-bleBlanco w-full">
      <Image
        src={LogoHiper}
        alt="Hipercentro de carnes"
        class="w-96 p-12 mx-auto"
      />
    </div>
  </div>
</Layout>
