---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="politicas max-w-4xl mx-auto bg-bleBlanco">
    <h1>Política de tratamiento y protección de datos personales</h1>

    <h1>
      FRIGORÍFICOS BLE SAS, reconoce la importancia de seguridad, privacidad y
      confidencialidad de los datos personales de sus accionistas, clientes,
      usuarios, distribuidores, proveedores, acreedores, deudores, trabajadores
      y en general de todos sus grupos de interés respecto a los cuales ejerce
      responsablemente el tratamiento de información personal, para el adecuado
      desarrollo de sus actividades comerciales, así como para el
      fortalecimiento de sus relaciones con terceros: recolecta, almacena, usa,
      circula y suprime datos personales correspondientes a personas naturales
      con quienes tiene o ha tenido relación comercial.
    </h1>
    <p>
      La información de<strong> FRIGORÍFICOS BLE SAS </strong>responsable del
      tratamiento de datos personales es:<strong> </strong>Nit: 900.231.070-1
      con domicilio principal en la Avenida Carrera 86 N° 15ª - 91 de la ciudad
      de Bogotá D.C. &nbsp;v. Ciudad de Cali No. 15A – 91
    </p>
    <p><strong>ALCANCE</strong></p>
    <p>
      Esta Política de Protección de Datos Personales se aplicará a todas las
      bases de datos y/o archivos que contengan datos personales que sean objeto
      de tratamiento por parte de <strong>FRIGORÍFICOS BLE SAS</strong> considerada
      como responsable y/o encargada del tratamiento de datos personales.
    </p>
    <p><strong>NORMATIVIDAD</strong></p>
    <p>
      La política en <strong>FRIGORÍFICOS BLE SAS</strong> se rige por lo dispuesto
      en la legislación vigente sobre protección de datos personales referidos en:
      Artículo 15 de la Constitución Política de Colombia, Ley Estatutaria 1266 de
      2008, Ley 1273 de 2009, Decreto 1727 de 2009, Ley Estatutaria 1581 de 2012,
      Decreto 1377 de 2013, Decreto 886 de 2014, Decreto 1074 de 2015 y demás normas
      que las modifiquen, deroguen o sustituyan.&nbsp;
    </p>
    <p><strong>DEFINICIONES</strong></p>
    <p>
      Se tendrán en cuenta las siguientes definiciones para efectos de la
      presente política:
    </p>
    <p>
      · Autorización:&nbsp;es el consentimiento previo, expreso e informado del
      titular de la información para llevar a cabo el tratamiento de datos
      personales.
    </p>
    <p>
      · Aviso de privacidad: es la comunicación verbal o escrita que tiene como
      fin el informar al titular de los datos sobre la política de protección de
      datos de <strong>FRIGORÍFICOS BLE SAS</strong>.
    </p>
    <p>
      · Base de Datos:&nbsp;conjunto organizado de datos personales objeto de
      tratamiento.
    </p>
    <p>
      · Dato Personal:&nbsp;cualquier información vinculada o que pueda
      asociarse a una o varias personas naturales determinadas o determinables.
    </p>
    <p>
      · Dato Público:&nbsp;dato que la ley o la Constitución determina como tal,
      así como todos aquellos que no sean semiprivados o privados.
    </p>
    <p>
      · Dato Privado:&nbsp;es aquel dato que por su naturaleza íntima o
      reservada sólo es relevante para el titular de la información.
    </p>
    <p>
      · Dato Semiprivado:&nbsp;es aquel dato que no tiene naturaleza íntima,
      reservada, ni pública y cuyo conocimiento o divulgación puede interesar no
      sólo a su titular sino a cierto sector o grupo de personas.
    </p>
    <p>
      · Dato Sensible:&nbsp;es el dato que afecta la intimidad del titular o
      cuyo uso indebido puede generar su discriminación.
    </p>
    <p>
      · Encargado del Tratamiento:&nbsp;persona natural o jurídica, pública o
      privada, que por sí misma o en asocio con otros, realiza el tratamiento de
      datos personales por cuenta del responsable del tratamiento.
    </p>
    <p>
      · Responsable del Tratamiento:&nbsp;persona natural o jurídica, pública o
      privada, que por sí misma o en asocio con otros, realiza el tratamiento de
      datos personales.
    </p>
    <p>
      · Titular: persona natural cuyos datos personales son objeto de
      tratamiento. Para <strong>FRIGORÍFICOS BLE SAS</strong> serán titulares de
      la información los accionistas, clientes, usuarios, distribuidores, proveedores,
      acreedores, deudores, trabajadores, nuestros grupos de interés y cualquier
      otra persona natural cuyos datos sean objeto de tratamiento por
      <strong>FRIGORÍFICOS BLE SAS</strong>, ya sea directa o indirectamente.
    </p>
    <p>
      · Transferencia:&nbsp;tiene lugar cuando el responsable y/o encargado del
      tratamiento de datos personales, ubicado en Colombia, envía la información
      o los datos personales a un receptor, que a su vez es responsable del
      tratamiento y se encuentra dentro o fuera del país.
    </p>
    <p>
      · Transmisión:&nbsp;tratamiento de datos personales que implica la
      comunicación de estos dentro o fuera del territorio de la República de
      Colombia, con el objeto de que un encargado realice tratamiento por cuenta
      del responsable.
    </p>
    <p>
      · Tratamiento:&nbsp;cualquier operación o conjunto de operaciones sobre
      datos personales, tales como la recolección, almacenamiento, uso,
      circulación o supresión.
    </p>
    <p><strong>PRINCIPIOS RECTORES</strong></p>
    <p>
      En virtud de interpretación y aplicación jurídica, se aplicarán los
      siguientes principios:
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Legalidad en Materia de Tratamiento de Datos:</strong
      > El Tratamiento es una actividad reglada que debe sujetarse a lo establecido
      en la Ley 1581 del 17 de octubre de 2012, decretos reglamentarios y demás disposiciones
      que la desarrollen.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Finalidad:</strong> El Tratamiento debe obedecer a una
      finalidad legítima de acuerdo con la Constitución y la Ley, la cual debe ser
      informada al Titular.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Libertad:</strong> El Tratamiento sólo puede ejercerse
      con el consentimiento, previo, expreso e informado del Titular. Los datos personales
      no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia
      de mandato legal o judicial que releve el consentimiento.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Veracidad o Calidad</strong>: La información sujeta a
      Tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y
      comprensible. Se prohíbe el Tratamiento de Datos parciales, incompletos,
      fraccionados o que induzcan a error.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Transparencia:</strong> En el Tratamiento debe garantizarse
      el derecho del Titular a obtener del responsable del Tratamiento o del Encargado
      del Tratamiento, en cualquier momento y sin restricciones, información acerca
      de la existencia de datos que le conciernan.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Acceso y Circulación Restringida:</strong> El Tratamiento
      se sujeta a los límites que se derivan de la naturaleza de los datos personales,
      de las disposiciones de la ley y la Constitución. En este sentido, el Tratamiento
      sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas
      previstas en la ley. Los datos personales, salvo la información pública, no
      podrán estar disponibles en Internet u otros medios de divulgación o comunicación
      masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento
      restringido sólo a los Titulares o terceros autorizados.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Seguridad:</strong> La información sujeta a Tratamiento
      por el responsable del Tratamiento o Encargado del Tratamiento a que se refiere
      la ley, se deberá manejar con las medidas técnicas, humanas y administrativas
      que sean necesarias para otorgar seguridad a los registros evitando su adulteración,
      pérdida, consulta, uso o acceso no autorizado o fraudulento.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Confidencialidad:</strong> Todos los funcionarios y contratistas
      que intervengan en el Tratamiento de Datos Personales que no tengan la naturaleza
      de públicos están obligadas a garantizar la reserva de la información, inclusive
      después de finalizada su relación con alguna de las labores que comprende el
      Tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales
      cuando ello corresponda al desarrollo de las actividades autorizadas en la
      ley y en los términos de la misma.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de temporalidad:</strong> Los datos personales se conservarán
      únicamente por el tiempo razonable y necesario para cumplir las finalidades
      que justificaron el tratamiento, atendiendo a las disposiciones aplicables
      a la materia de que se trate y a los aspectos administrativos, contables, fiscales,
      jurídicos e históricos de la información. Los datos serán conservados cuando
      ello sea necesario para el cumplimiento de una obligación legal o contractual.
      Una vez cumplida la finalidad del tratamiento y los términos establecidos anteriormente,
      se procederá a la supresión de los datos.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Interpretación integral de los derechos constitucionales</strong>:
      Los derechos se interpretarán en armonía y en un plano de equilibrio con
      el derecho a la información previsto en el artículo 20 de la Constitución
      y con los derechos constitucionales aplicables.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Principio de Necesidad:</strong> Los datos personales tratados deben
      ser los estrictamente necesarios para el cumplimiento de las finalidades perseguidas
      con la base de datos.
    </p>
    <p><strong>FINALIDAD&nbsp;</strong></p>
    <p>
      Las siguientes son las principales finalidades con las que
      <strong>FRIGORÍFICOS BLE SAS</strong> realiza el tratamiento de la información
      personal:
    </p>
    <p><strong>Clientes y/o usuarios</strong></p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conocer su comportamiento
      financiero, comercial y crediticio y el cumplimiento de sus obligaciones
      legales.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Realizar todas las gestiones
      necesarias tendientes a confirmar y actualizar la información del cliente
      y/o usuario.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Validar y verificar la identidad del
      cliente y/o usuario para el ofrecimiento y administración de productos y
      servicios, así mismo compartir la información con diversos actores del
      mercado.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Establecer una relación contractual,
      así como mantener y terminar una relación contractual.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ofrecer y prestar productos o
      servicios a través de cualquier medio o canal de acuerdo con el perfil del
      cliente y/o usuarios y los avances tecnológicos.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Recibir información por parte de
      FRIGORÍFICOS BLE SAS respecto a campañas comerciales actuales y futuras,
      promoción de productos y servicios tanto propios como de terceros, y demás
      comunicaciones necesarias para mantener comunicado y enterado al cliente
      mediante: llamada telefónica, mensaje de texto, correo electrónico,
      Facebook, Twitter, Instagram o cualquier red social de integración o
      mensajería instantánea, entre otros.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Recibir mensajes relacionados con la
      gestión de cobro y recuperación de cartera, ya sea directamente o mediante
      un tercero contratado para tal función.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Realizar una adecuada prestación y
      administración de los servicios financieros, incluyendo la gestión de
      cobranza.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Suministrar información comercial,
      legal, de productos, de seguridad, de servicio o de cualquier otra índole.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conocer la ubicación y datos de
      contacto del cliente y/o usuarios para efectos de notificaciones con fines
      de seguridad y ofrecimiento de beneficios y ofertas comerciales.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Efectuar análisis e investigaciones
      comerciales, estadísticas, de riesgos, de mercado, interbancaria y
      financiera incluyendo contactar al cliente para estos fines.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conocer el estado de las operaciones
      (activas, pasivas o de cualquier naturaleza) o las que en el futuro llegue
      a celebrar el cliente y/o usuario con otras entidades comerciales, con
      cualquier agente o sujeto del mercado financiero, operador de información,
      administrador de bases de datos o cualquier otra entidad similar que en un
      futuro se establezca y que tenga por objeto cualquiera de las anteriores
      actividades.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Prevenir el lavado de activos, la
      financiación del terrorismo, así como detectar el fraude, corrupción, y
      otras actividades ilegales.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Realizar, validar, autorizar o
      verificar transacciones, incluyendo, cuando sea requerido, la consulta y
      reproducción de datos sensibles tales como la huella digital, imagen o
      voz, entre otros.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Realizar encuestas de satisfacción
      concerniente a los servicios prestados por
      <strong>FRIGORÍFICOS BLE SAS.</strong>
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consultar multas y sanciones ante
      las diferentes autoridades administrativas y judiciales o bases de datos
      públicas que tengan como función la administración de datos de esta
      naturaleza.
    </p>
    <p>
      Con el fin de mejorar la experiencia de nuestros canales digitales y
      permitir el acceso a diversas funcionalidades y gestionar la seguridad,
      <strong>FRIGORÍFICOS BLE SAS</strong> realizará los siguientes usos en los
      dispositivos electrónicos previa autorización del titular y de conformidad
      con lo que el titular decida compartir con <strong
        >FRIGORÍFICOS BLE SAS:</strong
      >
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acceso a la geolocalización del
      dispositivo, para realizar una mejor gestión de la seguridad, proporcionar
      y ofrecer experiencias y productos personalizados, y compartirlo con
      aliados.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acceso a fotos, medios, archivos y
      almacenamiento, para la lectura de códigos QR o de barras o similares,
      personalizar el canal digital, guardar y compartir imágenes de los
      movimientos con terceros, compartir documentos con <strong
        >FRIGORÍFICOS BLE SAS</strong
      >.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acceso a cámara, para leer códigos
      QR o de barras o similares, realizar biometrías faciales para
      autenticación o firma, escaneo de documento que el titular decida
      compartir con
      <strong>FRIGORÍFICOS BLE SAS.</strong>
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acceso a la información de conexión,
      id del dispositivo móvil, información del rendimiento de la aplicación con
      la finalidad de realizar una mejor gestión de la seguridad, proporcionar y
      ofrecer experiencias y productos personalizados y habilitar
      funcionalidades.
    </p>
    <p></p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS </strong>en ningún momento podrá acceder a
      fotos personales, archivos guardados, historial de conversaciones,
      teléfonos de contacto y, en general, información confidencial que
      administra el titular en su dispositivo móvil para finalidades diferentes
      a las expuestas.  Estos accesos pueden ser modificados en cualquier
      momento en las opciones de configuración del dispositivo electrónico,
      cuando aplique.
    </p>
    <p><strong>Proveedores</strong></p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La información solicitada al
      proveedor podrá incluir información de la persona natural o jurídica según
      corresponda. Así mismo, es posible que se solicite información de los
      empleados del proveedor que se encuentren dedicados a cumplir alguna
      función o relación con
      <strong>FRIGORÍFICOS BLE SAS</strong> que por la labor desempeñada requieran
      acceso a las instalaciones, a los aplicativos y/o sistemas u otros de la empresa.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Realizar el proceso de vinculación
      del proveedor con la empresa, generando el desarrollo de los
      procedimientos internos, los cuales son de relacionamiento, contables,
      financieros, comerciales, logísticos, entre otros.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Administrar y verificar antecedentes
      comerciales, reputacionales y los riesgos de lavado de activos y
      financiación del terrorismo, así como para detectar y/o prevenir el
      fraude, corrupción y otras actividades ilegales, por parte del proveedor o
      sus empleados en relación con la operación de <strong
        >FRIGORÍFICOS BLE SAS</strong
      >.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gestionar y fortalecer las
      relaciones contractuales con el proveedor, permitiendo un mayor control en
      las obligaciones asumidas por las partes.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Revisar y evaluar los resultados del
      proveedor, con el fin de fortalecer los procesos de contratación dentro de
      <strong>FRIGORÍFICOS BLE SAS</strong>.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ofrecer y prestar productos o
      servicios a través de cualquier medio o canal de acuerdo con el perfil del
      proveedor y de acuerdo con los avances tecnológicos.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Efectuar análisis e investigaciones
      comerciales, estadísticas, de riesgos, de mercado, interbancaria y
      financiera a partir de los resultados del proveedor.
    </p>
    <p><strong>Trabajadores</strong></p>
    <p>
      La información que <strong>FRIGORÍFICOS BLE SAS </strong>recolecta de
      aspirantes o candidatos a cargos dentro de la organización es tratada con
      la finalidad de realizar la evaluación de ingreso y el proceso de
      vinculación del candidato.
    </p>
    <p>
      El tratamiento de la información personal de nuestros trabajadores tiene
      como finalidad la gestión de las relaciones laborales existentes con
      éstos, así como el desarrollo de las diferentes actividades establecidas
      por la empresa. Entre las cuales resaltamos las siguientes:
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dar cumplimiento a las obligaciones
      y derechos derivados de su actividad como empleador, y a las actividades
      propias de su objeto social principal y conexo, las cuales pueden ser
      realizadas directamente o con el apoyo de terceros con los que se
      compartirá su información para los fines relacionados con el objeto del
      contrato.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Compartir sus datos personales con
      las autoridades (judiciales o administrativas) nacionales o extranjeras
      cuando la solicitud se base en razones legales, procesales, y/o
      tributarias.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Acceso y autorización de los
      beneficios establecidos por el empleador, según los requisitos definidos
      en cada caso.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Consulta de sus datos en las listas
      internas de control, en cumplimiento de las normas nacionales y políticas
      internas asociadas al Sistema de Administración del Riesgo de Lavado de
      Activos y Financiación del Terrorismo – SARLAFT, así como el cumplimiento
      con estándares de ética e integridad establecidos por
      <strong>FRIGORÍFICOS BLE SAS</strong>.
    </p>
    <p>
      Tratándose de trabajadores retirados,
      <strong>FRIGORÍFICOS BLE SAS</strong> almacenará, aun después de finalizado
      el contrato de trabajo, la información necesaria para cumplir con las obligaciones
      que puedan derivarse en virtud de la relación laboral que existió conforme
      a la legislación colombiana, o en virtud de los servicios que en virtud de
      la relación puedan llegar a prestarse, al igual que, proporcionar las certificaciones
      laborales que sean solicitadas por el extrabajador o por terceros frente a
      quienes aquel adelante un proceso de selección.
    </p>
    <p><strong>Accionistas</strong></p>
    <p>
      La información y los datos personales de los accionistas, incluida
      información personal, de contacto, así como la información y documentación
      suministrada a través de canales virtuales, canal telefónico, correo
      electrónico y actualizaciones de información serán recolectados,
      consultados, actualizados, modificados y procesados directamente por
      <strong>FRIGORÍFICOS BLE SAS</strong> y/o por los terceros designados por éste,
      para los siguientes fines:
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dar cumplimiento a las obligaciones
      y derechos derivados de su calidad de emisor y depositante
      respectivamente.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Realizar las actividades de
      administración integral del libro de registro de accionistas.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Brindar la información relacionada
      con trámites, quejas y solicitudes de los accionistas.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dar acceso a la información a las
      autoridades judiciales o administrativas que soliciten dichos datos en
      ejercicio de sus funciones.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Administrar el riesgo de Lavado de
      Activos y Financiación del Terrorismo y de corrupción.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; El cumplimiento de las actividades y
      fines necesarios de la relación emisor – accionistas.
    </p>
    <p>
      <strong
        >Acceso a edificios, vigilancia y seguridad de las instalaciones</strong
      >
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contar con información de cada uno
      de los empleados, del personal outsourcing, temporal que labora al
      servicio de
      <strong>FRIGORÍFICOS BLE SAS</strong> y de los visitantes que ingresen a las
      oficinas o instalaciones de la empresa.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Controlar e identificar el acceso a
      las sedes administrativas.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mantener la seguridad y control de
      accesos a las instalaciones de la empresa.
    </p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> les informa a todos los titulares que
      los datos recolectados directamente en los puntos de seguridad establecidos
      en las instalaciones de la empresa, que sean suministrados en documentos del
      personal de seguridad, y los datos obtenidos de las videograbaciones que se
      realizan dentro o fuera de las instalaciones de
      <strong>FRIGORÍFICOS BLE SAS</strong>, se utilizan con fines de seguridad
      de las personas, los bienes e instalaciones.
    </p>
    <p><strong>VIDEOVIGILANCIA</strong></p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS </strong>emplea medios de video vigilancia
      instalados en diferentes lugares de las instalaciones y/o oficinas. La
      información recolectada se utilizará para fines de seguridad de las
      personas, bienes e instalaciones, asimismo, puede ser utilizada como
      prueba en cualquier tipo de proceso ante cualquier tipo de autoridad y
      organización.
    </p>
    <p>
      <strong>DERECHOS DE LOS TITULARES DE LOS DATOS PERSONALES&nbsp;</strong>
    </p>
    <p>
      Las personas naturales cuyos Datos Personales sean objeto de Tratamiento
      por parte de <strong>FRIGORÍFICOS BLE SAS</strong> pueden:
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conocer, actualizar, rectificar,
      suprimir o revocar sus datos personales y ser informados del tratamiento
      que
      <strong>FRIGORÍFICOS BLE SAS</strong> realiza sobre los datos personales.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Presentar solicitudes y reclamos
      relacionados con la regulación vigente en materia de Protección de Datos
      Personales.
    </p>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Solicitar revocatoria de la
      autorización y/o supresión de un dato personal en el caso de determinarse
      que
      <strong>FRIGORÍFICOS BLE SAS</strong> presenta una conducta contraria a la
      regulación vigente. La solicitud de supresión o revocatoria no procederá cuando
      los titulares tengan el deber legal o contractual de permanecer en la base
      de datos de <strong>FRIGORÍFICOS BLE SAS</strong>.
    </p>
    <p><strong>AUTORIZACIÓN&nbsp;</strong></p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> solicitará la autorización de manera
      que el titular de la información otorgue su consentimiento previo, expreso
      e informado del tratamiento al cual son sujetos sus datos personales.
    </p>
    <p>
      La autorización también podrá obtenerse a partir de conductas inequívocas
      del titular del dato, las cuales permitan concluir de manera razonable que
      éste otorgó su consentimiento para el tratamiento de su información.
      Dichas conductas deben exteriorizar de manera clara la voluntad de
      autorizar el tratamiento.
    </p>
    <p>
      El consentimiento del titular se podrá obtener por cualquier medio que
      pueda ser objeto de consulta posterior, tales como, comunicación escrita,
      verbal, virtual o por conductas inequívocas.
    </p>
    <p>Esta manifestación de voluntad del Titular puede darse por:</p>
    <p>
      1- Por escrito, por ejemplo, diligenciando el formato de autorización
      establecido por la compañía
    </p>
    <p>
      2- De forma oral, por ejemplo, en una conversación telefónica o en
      videoconferencia.
    </p>
    <p>
      3- Mediante conductas inequívocas que permitan concluir que otorgó su
      autorización, por ejemplo, a través de su aceptación expresa a los
      Términos y Condiciones de una actividad dentro de los cuales se requiera
      la autorización de los participantes para el Tratamiento de sus Datos
      Personales.&nbsp;&nbsp;
    </p>
    <p>
      En virtud de su naturaleza y objeto social,
      <strong>FRIGORÍFICOS BLE SAS</strong> recibe, recolecta, registra, conserva,
      almacena, modifica, reporta, consulta, entrega, transmite, transfiere, comparte
      y elimina información personal, para lo cual obtiene la previa autorización
      del titular.
    </p>
    <p>
      La autorización que le otorgan los titulares de la información a
      <strong>FRIGORÍFICOS BLE SAS</strong> permite entre otras cosas, la realización
      de las siguientes finalidades: ofrecer y suministrar información de los productos
      y servicios, así como consultar, reportar y actualizar sus datos ante los operadores
      de información y riesgo; actualizar las relaciones contractuales vigentes y
      dar cumplimiento a las obligaciones pactadas, entre otras (ver contenido FINALIDAD).
    </p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> conservará prueba de dichas autorizaciones
      de manera adecuada, velando y respetando los principios de privacidad y confidencialidad
      de la información.
    </p>
    <p>
      Así mismo, en <strong>FRIGORÍFICOS BLE SAS</strong> cuando se trate de información
      que se relacione con los siguientes tipos de datos, se tendrán las siguientes
      consideraciones especiales:
    </p>
    <p>a. Datos sensibles</p>
    <p>
      Para el tratamiento de datos sensibles,
      <strong>FRIGORÍFICOS BLE SAS</strong> informará al titular de los datos lo
      siguiente:
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Para el tratamiento de este tipo de
      información el titular no está obligado a dar su autorización o
      consentimiento.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se informará de forma explícita y
      previa qué tipo de datos sensibles serán solicitados.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se comunicará el tratamiento y la
      finalidad que se le dará a los datos sensibles.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La autorización de los datos
      sensibles será previa, expresa y clara.
    </p>
    <p>b. Datos de niños, niñas y adolescentes.</p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> se asegurará que el tratamiento de este
      tipo de datos se realice de conformidad con los derechos de los niños, niñas
      y adolescentes. En este sentido, se protegerá su carácter especial y velará
      por el respeto de sus derechos fundamentales, de acuerdo con lo dispuesto en
      los artículos 5, 6 y 7 de la Ley 1581 de 2012, y en los artículos 6 y 12 del
      Decreto 1377 de 2013, y demás normas que los modifiquen o adicionen.
    </p>
    <p>
      Para efectos de cumplir lo anterior,
      <strong>FRIGORÍFICOS BLE SAS</strong> actuará de conformidad con lo siguiente:
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se solicitará autorización del
      representante legal del niño, niña o adolescente previo ejercicio del
      menor de su derecho a ser escuchado, opinión que será valorada teniendo en
      cuenta la madurez, autonomía y capacidad para entender el asunto, a
      efectos de realizar el tratamiento de sus datos personales.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se informará el carácter facultativo
      de responder preguntas acerca de los datos de los niños, niñas o
      adolescentes.
    </p>
    <p>
      -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Se informará de forma explícita y
      previa cuáles son los datos objeto de tratamiento y la finalidad de este.
    </p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> informa a todos sus grupos de interés
      que, de conformidad con el artículo 10 de la Ley 1581 de 2012, la autorización
      del titular no será necesaria cuando se trate de: (1) información requerida
      por una entidad pública o administrativa en ejercicio de sus funciones legales
      o por orden judicial, (2) datos de naturaleza pública, (3) casos de urgencia
      médica o sanitaria, (4) tratamiento de información autorizado por la ley para
      fines históricos, estadísticos o científicos, y (5) datos relacionados con
      el Registro Civil de las Personas.
    </p>
    <p>
      <strong
        >ÁREA RESPONSABLE DE LA IMPLEMENTACIÓN Y OBSERVANCIA DE ESTA
        POLÍTICA&nbsp;</strong
      >
    </p>
    <p>
      La gerencia general tiene a su cargo la labor de desarrollo,
      implementación, capacitación y observancia de esta Política. Para el
      efecto, todos los funcionarios que realizan el Tratamiento de Datos
      Personales en las diferentes áreas de <strong>FRIGORÍFICOS BLE SAS</strong
      > están obligados a dar traslado a la gerencia, de todas las peticiones, consultas,
      quejas y reclamos que se reciban por parte de los Titulares de Datos Personales
      en los tiempos establecidos por la Ley. &nbsp;&nbsp;&nbsp;
    </p>
    <p>
      Asimismo, la gerencia general ha sido designada por
      <strong>FRIGORÍFICOS BLE SAS</strong> como responsable de la atención de peticiones,
      consultas, quejas y reclamos ante la cual el Titular de la información podrá
      ejercer sus derechos a conocer, actualizar, rectificar y suprimir el dato y
      revocar la autorización.&nbsp;
    </p>
    <p>
      <strong
        >ATENCIÓN Y RESPUESTA A PETICIONES, CONSULTAS, QUEJAS Y RECLAMOS&nbsp;</strong
      >
    </p>
    <p>
      El Titular o sus apoderados podrán solicitar a FRIGORÍFICOS BLE SAS, a
      través de una petición, consulta, queja o reclamo sus derechos a conocer,
      corregir, actualizar, rectificar y suprimir información y revocar la
      autorización.&nbsp;
    </p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> ha dispuesto el correo: info@frigorificosble.com
      y el sitio web https://frigorificosble.com/ para la recepción y atención de
      solicitudes, todos los cuales permiten conservar prueba de estas.
    </p>
    <p>
      Para el efecto, se seguirá el siguiente procedimiento, de conformidad con
      la Ley de Protección de Datos Personales:
    </p>
    <p>
      1-&nbsp;&nbsp;&nbsp; Comunicación dirigida a LA EMPRESA. La solicitud
      deberá contener como mínimo la descripción de los hechos que dan lugar a
      la petición, consulta, queja o reclamo, la dirección y datos de contacto
      del solicitante.
    </p>
    <p>
      2-&nbsp;&nbsp;&nbsp; Si la petición, consulta, queja o reclamo se
      presentan incompletos, <strong>FRIGORÍFICOS BLE SAS</strong> deberá requerir
      al interesado dentro de los cinco (5) días siguientes a la recepción de la
      queja o reclamo para que subsane las fallas.
    </p>
    <p>
      3-&nbsp;&nbsp;&nbsp; Transcurrido un (1) meses desde la fecha del
      requerimiento, sin que el solicitante presente la información requerida,
      se entenderá que ha desistido de la queja o reclamo.
    </p>
    <p>
      4-&nbsp;&nbsp;&nbsp; El término máximo para atender la queja o el reclamo
      será de quince (15) días hábiles contados a partir del día siguiente a la
      fecha de su recibo.
    </p>
    <p>
      5-&nbsp;&nbsp;&nbsp; Cuando no fuere posible atender la queja o el reclamo
      dentro de dicho término, se informará al interesado los motivos de la
      demora y la fecha en que se atenderá la queja o reclamo, la cual en ningún
      caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del
      primer término.
    </p>
    <p><strong>SEGURIDAD DE LOS DATOS PERSONALES&nbsp;</strong></p>
    <p>
      FRIGORÍFICOS BLE SAS, en estricta aplicación del Principio de Seguridad en
      el Tratamiento de Datos Personales, proporcionará las medidas técnicas,
      humanas y administrativas que sean necesarias para otorgar seguridad a los
      registros evitando su adulteración, pérdida, consulta, uso o acceso no
      autorizado o fraudulento. La obligación y responsabilidad de
      <strong>FRIGORÍFICOS BLE SAS</strong> se limita a disponer de los medios adecuados
      para este fin. <strong>FRIGORÍFICOS BLE SAS</strong> no garantiza la seguridad
      total de su información ni se responsabiliza por cualquier consecuencia derivada
      de fallas técnicas o del ingreso indebido por parte de terceros a la Base de
      Datos o Archivo en los que reposan los Datos Personales objeto de Tratamiento
      por parte de <strong>FRIGORÍFICOS BLE SAS</strong> y sus Encargados.
    </p>
    <p>
      <strong>FRIGORÍFICOS BLE SAS</strong> exigirá a los proveedores de servicios
      que contrata, la adopción y cumplimiento de las medidas técnicas, humanas y
      administrativas adecuadas para la protección de los Datos Personales en relación
      con los cuales dichos proveedores actúen como Encargados.&nbsp;
    </p>
    <p>
      <strong
        >TRANSFERENCIA, TRANSMISIÓN Y REVELACIÓN DE DATOS PERSONALES&nbsp;</strong
      >
    </p>
    <p>
      Eventualmente <strong>FRIGORÍFICOS BLE SAS</strong>, como responsable de
      la información personal almacenada en sus bases de datos y en desarrollo
      de las finalidades descritas en el presente documento, podrá realizar
      transferencia o transmisión nacional o internacional de datos.
    </p>
    <p><strong>VIGENCIA&nbsp;</strong></p>
    <p>
      Esta Política de Protección de Datos Personales entra en vigor una vez
      aprobado y publicado dicho documento.
    </p>
  </div>
</Layout>
