---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="politicas max-w-4xl mx-auto bg-bleBlanco">
    <h1>Política de Prevención del Acoso Sexual</h1>
    <ol>
      <li><strong> Objetivo</strong></li>
    </ol>
    <p>
      La presente pol&iacute;tica tiene como objetivo garantizar un ambiente
      laboral libre de acoso sexual, promoviendo el respeto, la igualdad y la
      dignidad de todas las personas en nuestra organizaci&oacute;n, en
      cumplimiento de la Ley 2365 de 2024 y dem&aacute;s normas que la
      complementen, adiciones o modifiquen.
    </p>
    <ol start="2">
      <li><strong> Principios</strong></li>
    </ol>
    <p>
      Esta pol&iacute;tica se rige por los principios de pro persona y pro
      v&iacute;ctima, igualdad, justicia restaurativa, debido proceso,
      imparcialidad, celeridad y confidencialidad, prevenci&oacute;n, justicia,
      equidad de g&eacute;nero, libertad y dignidad.
    </p>
    <ol start="3">
      <li><strong> Definici&oacute;n</strong></li>
    </ol>
    <p>
      El acoso sexual se define como todo acto de persecuci&oacute;n,
      hostigamiento o asedio, de car&aacute;cter o connotaci&oacute;n sexual,
      lasciva o libidinosa, que se manifieste por relaciones de poder de orden
      vertical u horizontal, mediadas por la edad, el sexo, el g&eacute;nero,
      orientaci&oacute;n e identidad sexual, la posici&oacute;n laboral, social,
      o econ&oacute;mica, que se d&eacute; una o varias veces en contra de otra
      persona en el contexto laboral (art&iacute;culo 2 de la Ley 2365 de 2024).
    </p>
    <ol start="4">
      <li><strong> Medidas de Prevenci&oacute;n</strong></li>
    </ol>
    <ul>
      <li>
        <strong>Capacitaci&oacute;n y Sensibilizaci&oacute;n:</strong> Se realizar&aacute;n
        talleres y capacitaciones peri&oacute;dicas para todos los trabajadores sobre
        la prevenci&oacute;n del acoso sexual y la promoci&oacute;n de un ambiente
        de respeto.
      </li>
      <li>
        <strong>Difusi&oacute;n de la Pol&iacute;tica:</strong> Esta pol&iacute;tica
        ser&aacute; difundida a todos los trabajadores y estar&aacute; disponible
        en los lugares visibles de la empresa.
      </li>
      <li>
        <strong>&Aacute;rea/cargo competente:</strong> Se establece que el de Gesti&oacute;n
        Humana ser&aacute; la encargada de recibir, investigar y dar seguimiento
        a las denuncias de acoso sexual.
      </li>
    </ul>
    <ol start="5">
      <li><strong> Procedimiento para Denuncias</strong></li>
    </ol>
    <ul>
      <li>
        <strong>Canales de Denuncia:</strong> Las denuncias de acoso sexual podr&aacute;n
        ser presentadas a trav&eacute;s de los siguientes canales:
      </li>
      <ul>
        <li>
          &Aacute;rea de Gesti&oacute;n Humana: De manera f&iacute;sica o a
          trav&eacute;s de la direcci&oacute;n electr&oacute;nica <strong
            >gestionhumana@frigorificosble.com</strong
          >
        </li>
        <li>
          L&iacute;nea de atenci&oacute;n confidencial <strong
            >320 257 13 45</strong
          >
        </li>
      </ul>
      <li>
        <strong>Confidencialidad:</strong> Todas las denuncias ser&aacute;n tratadas
        con la m&aacute;xima confidencialidad y respeto hacia las partes involucradas.
      </li>
      <li>
        <strong>Investigaci&oacute;n:</strong> El &Aacute;rea de Gesti&oacute;n Humana
        llevar&aacute; a cabo una investigaci&oacute;n imparcial de las denuncias,
        garantizando el derecho de defensa de las partes.
      </li>
      <li>
        <strong>Efectos:</strong> El incumplimiento de las obligaciones o prohibiciones
        contenidas en la presente pol&iacute;tica o en la Ley 2365 de 2024 y normas
        que la reglamenten, modifiquen o sustituyan, ser&aacute; considerado como
        falta grave a&uacute;n por la primera vez.&nbsp;
      </li>
    </ul>
    <p>
      Para el caso de los dem&aacute;s actores que participen en el contexto
      laboral y cuya vinculaci&oacute;n con <strong>FRIGORIFICOS BLE SAS</strong
      > no sea mediante contrato de trabajo, se dar&aacute; aplicaci&oacute;n a lo
      dispuesto en el documento que regule la relaci&oacute;n contractual del caso.
    </p>
    <ol start="6">
      <li><strong> Protecci&oacute;n a las V&iacute;ctimas</strong></li>
    </ol>
    <ul>
      <li>
        <strong>Confidencialidad:</strong> Se garantizar&aacute; la confidencialidad
        de la identidad de la v&iacute;ctima y de los detalles de la denuncia. Solo
        las personas directamente involucradas en la investigaci&oacute;n tendr&aacute;n
        acceso a esta informaci&oacute;n.
      </li>
      <li>
        <strong>Protecci&oacute;n contra Retaliaciones:</strong> Se tomar&aacute;n
        medidas en procura de evitar a las v&iacute;ctimas de cualquier tipo de represalia
        o intimidaci&oacute;n por parte del acosador o de otros trabajadores. Cualquier
        acto de represalia ser&aacute; tratado como una falta grave y ser&aacute;
        sujeto a medidas disciplinarias.
      </li>
      <li>
        <strong>Reubicaci&oacute;n Temporal o Permanente:</strong> En casos donde
        resulte viable y se considere pertinente, se podr&aacute; determinar la reubicaci&oacute;n
        temporal o permanente de la v&iacute;ctima a otro departamento o &aacute;rea
        de trabajo para evitar el contacto con el acosador.
      </li>
      <li>
        <strong>Trabajo en Casa o Teletrabajo:</strong> En casos donde resulte viable
        y se considere pertinente, se podr&aacute; habilitar la prestaci&oacute;n
        del servicio a trav&eacute;s de trabajo en casa o teletrabajo.
      </li>
      <li>
        <strong>Seguimiento:</strong> Se realizar&aacute; un seguimiento de la situaci&oacute;n
        de la v&iacute;ctima para asegurarse de que las medidas de protecci&oacute;n
        sean efectivas y para ofrecer apoyo adicional si es necesario.
      </li>
    </ul>
    <ol start="7">
      <li><strong> Obligaciones</strong></li>
    </ol>
    <ul>
      <li>
        <strong>Empleador:</strong> El empleador es responsable de implementar y
        hacer cumplir esta pol&iacute;tica, as&iacute; como de procurar un ambiente
        laboral libre de acoso sexual. Las obligaciones espec&iacute;ficas del empleador
        incluyen:
      </li>
      <ul>
        <li>
          <strong>Desarrollar e Implementar la Pol&iacute;tica:</strong> Crear y
          poner en pr&aacute;ctica una pol&iacute;tica clara y comprensible sobre
          la prevenci&oacute;n del acoso sexual.
        </li>
        <li>
          <strong>Capacitaci&oacute;n:</strong> Proveer capacitaci&oacute;n regular
          a todos los trabajadores sobre la prevenci&oacute;n del acoso sexual y
          la promoci&oacute;n de un ambiente de respeto.
        </li>
        <li>
          <strong>Establecer Canales de Denuncia:</strong> Asegurar que existan canales
          accesibles y confidenciales para que los trabajadores puedan denunciar
          casos de acoso sexual.
        </li>
        <li>
          <strong>Investigaci&oacute;n Imparcial:</strong> Garantizar que todas las
          denuncias de acoso sexual sean investigadas de manera imparcial y exhaustiva.
        </li>
      </ul>
    </ul>
    <ul>
      <ul>
        <li>
          <strong>Tomar Medidas Correctivas:</strong> Aplicar medidas disciplinarias
          adecuadas en caso de comprobarse la existencia de acoso sexual.
        </li>
        <li>
          <strong>Proteger a las V&iacute;ctimas:</strong> Implementar medidas de
          protecci&oacute;n para las v&iacute;ctimas de acoso sexual y asegurar que
          no sufran represalias.
        </li>
        <li>
          <strong>Monitoreo y Evaluaci&oacute;n:</strong> Realizar un seguimiento
          continuo de la efectividad de la pol&iacute;tica y hacer ajustes seg&uacute;n
          sea necesario.
        </li>
      </ul>
      <li>
        <strong>Trabajadores:</strong> Todos los trabajadores tienen la responsabilidad
        de respetar esta pol&iacute;tica y de contribuir a la creaci&oacute;n de
        un ambiente de trabajo seguro y respetuoso. Las obligaciones espec&iacute;ficas
        de los trabajadores incluyen:
      </li>
      <ul>
        <li>
          <strong>Cumplir con la Pol&iacute;tica:</strong> Conocer y cumplir con
          los lineamientos establecidos en esta pol&iacute;tica.
        </li>
        <li>
          <strong>Participar en Capacitaciones:</strong> Asistir a las capacitaciones
          y talleres sobre prevenci&oacute;n de acoso sexual organizados por la empresa.
        </li>
        <li>
          <strong>Reportar Incidentes:</strong> Informar de inmediato cualquier incidente
          de acoso sexual a trav&eacute;s de los canales de denuncia establecidos.
        </li>
        <li>
          <strong>Colaborar en Investigaciones:</strong> Cooperar con las investigaciones
          llevadas a cabo por el &Aacute;rea de Gesti&oacute;n Humana.
        </li>
        <li>
          <strong>Respetar a los Compa&ntilde;eros:</strong> Mantener un comportamiento
          respetuoso y profesional hacia todos los compa&ntilde;eros de trabajo,
          evitando cualquier conducta que pueda ser considerada acoso sexual.
        </li>
      </ul>
    </ul>
    <ul>
      <li>
        Todo aquel que participe en el contexto laboral de <strong
          >FRIGORIFICOS BLE SAS</strong
        > tienen la responsabilidad de respetar esta pol&iacute;tica y de contribuir
        a la creaci&oacute;n de un ambiente de trabajo seguro y respetuoso.
      </li>
    </ul>
    <ol start="8">
      <li><strong> Procedimiento a Seguir en Caso de Queja</strong></li>
    </ol>
    <ul>
      <li>
        <strong>Presentaci&oacute;n de la Queja:</strong> La queja de acoso sexual
        puede ser presentada por cualquier empleado, contratista, proveedor o persona
        que tenga una relaci&oacute;n laboral o contractual con la empresa. La queja
        debe ser presentada ante el &Aacute;rea de Gesti&oacute;n Humana.
      </li>
      <li>
        <strong>Recepci&oacute;n de la Queja:</strong> Una vez recibida la queja,
        se debe registrar de manera confidencial y se debe informar a la persona
        que presenta la queja sobre el proceso que se seguir&aacute;. Es importante
        garantizar la confidencialidad de la identidad de la v&iacute;ctima y de
        los detalles de la denuncia.
      </li>
    </ul>
    <ul>
      <li>
        <strong>Investigaci&oacute;n:</strong> El &Aacute;rea de Gesti&oacute;n Humana
        llevar&aacute; a cabo una investigaci&oacute;n imparcial y exhaustiva de
        la queja. Durante la investigaci&oacute;n, se garantizar&aacute; el derecho
        de defensa de las partes involucradas y se recopilar&aacute;n todas las pruebas
        necesarias y posibles para determinar la veracidad de la queja.
      </li>
      <li>
        <strong>Medidas Provisionales:</strong> Durante la investigaci&oacute;n,
        se pueden implementar medidas provisionales para proteger a la v&iacute;ctima,
        como cambios en el lugar de trabajo, horarios de trabajo flexibles, o cualquier
        otra medida que garantice la seguridad y bienestar de la v&iacute;ctima,
        a criterio del empleador.
      </li>
      <li>
        <strong>Decisi&oacute;n:</strong> Una vez finalizada la investigaci&oacute;n,
        el &Aacute;rea de Gesti&oacute;n Humana tomar&aacute; una decisi&oacute;n
        sobre la queja. Si se comprueba la existencia de acoso sexual, se aplicar&aacute;n
        las medidas disciplinarias correspondientes, entendiendo que las faltas podr&aacute;n
        considerarse faltas graves, a&uacute;n por la primera vez.
      </li>
      <li>
        <strong>Notificaci&oacute;n:</strong> La decisi&oacute;n del &Aacute;rea
        de Gesti&oacute;n Humana ser&aacute; notificada a las partes involucradas.
        Se garantizar&aacute; que la v&iacute;ctima sea informada sobre las medidas
        que se tomar&aacute;n para proteger su seguridad y bienestar.
      </li>
      <li>
        <strong>Seguimiento:</strong> Se realizar&aacute; un seguimiento continuo
        de la situaci&oacute;n de la v&iacute;ctima para asegurarse de que las medidas
        de protecci&oacute;n sean efectivas y para ofrecer apoyo adicional si es
        necesario.
      </li>
    </ul>
    <ol start="9">
      <li><strong> Responsabilidades de las ARL</strong></li>
    </ol>
    <ul>
      <li>
        <strong>Fortalecimiento de la Atenci&oacute;n:</strong> Las Administradoras
        de Riesgos Laborales (ARL) deben realizar actividades de fortalecimiento
        de la atenci&oacute;n, protecci&oacute;n y prevenci&oacute;n del acoso sexual
        en el contexto laboral de la <strong>FRIGORIFICOS BLE SAS</strong>.
      </li>
      <li>
        <strong>Asesor&iacute;a y Capacitaci&oacute;n:</strong> Las ARL deben asesorar
        y capacitar a &Aacute;rea de Gesti&oacute;n Humana para el desarrollo y fortalecimiento
        de las competencias comportamentales y actitudinales.
      </li>
    </ul>
    <ol start="10">
      <li>
        <strong>
          Procedimiento para los dem&aacute;s participantes en el contexto
          laboral de FRIGORIFICOS BLE SAS</strong
        >
      </li>
    </ol>
    <ul>
      <li>
        <strong>Inclusi&oacute;n en la Pol&iacute;tica:</strong> Los dem&aacute;s
        participantes en el contexto laboral se consideran parte del contexto laboral
        independientemente de la naturaleza de su vinculaci&oacute;n. Esto incluye
        interacciones en el lugar de trabajo, desplazamientos, viajes, eventos o
        actividades sociales o de formaci&oacute;n relacionados con el trabajo.
      </li>
      <li>
        <strong>Procedimiento de Queja:</strong> Los dem&aacute;s participantes en
        el contexto laboral pueden presentar quejas de acoso sexual a trav&eacute;s
        de los mismos canales establecidos para los trabajadores. Las quejas ser&aacute;n
        tratadas con la misma confidencialidad y seriedad.
      </li>
    </ul>
    <ul>
      <li>
        <strong>Protecci&oacute;n y Apoyo:</strong> Los dem&aacute;s participantes
        en el contexto laboral tendr&aacute;n acceso a las mismas medidas de protecci&oacute;n
        y apoyo que resulten viables y les sean aplicables.
      </li>
    </ul>
    <ol start="11">
      <li><strong> Revisi&oacute;n y Actualizaci&oacute;n</strong></li>
    </ol>
    <p>
      Esta pol&iacute;tica ser&aacute; revisada y actualizada conforme con la
      legislaci&oacute;n vigente.
    </p>
    <p>
      Para constancia se firma el presente documento en la ciudad de
      Bogot&aacute; DC., a 13 los d&iacute;as del mes de septiembre del
      a&ntilde;o 2024.
    </p>
    <p><strong>CONTROL DE CAMBIOS </strong></p>
    <table width="718">
      <tbody>
        <tr>
          <td width="151">
            <p><strong>Fecha de aprobaci&oacute;n</strong></p>
          </td>
          <td width="246">
            <p><strong>Responsable</strong></p>
          </td>
          <td width="217">
            <p><strong>Observaci&oacute;n</strong></p>
          </td>
          <td width="104">
            <p><strong>Versi&oacute;n</strong></p>
          </td>
        </tr>
        <tr>
          <td width="151">
            <p>13/09/2024</p>
          </td>
          <td width="246">
            <p>Gesti&oacute;n Humana</p>
          </td>
          <td width="217">
            <p>Firma y publicaci&oacute;n</p>
          </td>
          <td width="104">
            <p>01</p>
          </td>
        </tr>
        <tr>
          <td width="151">
            <p>09/09/2024</p>
          </td>
          <td width="246">
            <p>
              Vo.Bo. Asesor&iacute;a Jur&iacute;dica &ndash; Dra. Adriana
              Cristancho &ndash; Germ&aacute;n Plazas &amp; Asociados
            </p>
          </td>
          <td width="217">
            <p>Modelo</p>
          </td>
          <td width="104">
            <p>01</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>
