---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="politicas max-w-4xl mx-auto bg-bleBlanco">
    <p>
      <strong
        >POL&Iacute;TICA DE TRATAMIENTO Y PROTECCI&Oacute;N DE DATOS PERSONALES</strong>
    </p>
    <p>
      FRIGOR&Iacute;FICOS BLE SAS, reconoce la importancia de seguridad,
      privacidad y confidencialidad de los datos personales de sus accionistas,
      clientes, usuarios, distribuidores, proveedores, acreedores, deudores,
      trabajadores y en general de todos sus grupos de inter&eacute;s respecto a
      los cuales ejerce responsablemente el tratamiento de informaci&oacute;n
      personal, para el adecuado desarrollo de sus actividades comerciales,
      as&iacute; como para el fortalecimiento de sus relaciones con terceros:
      recolecta, almacena, usa, circula y suprime datos personales
      correspondientes a personas naturales con quienes tiene o ha tenido
      relaci&oacute;n comercial.
    </p>
    <p>
      La informaci&oacute;n de<strong>
        FRIGOR&Iacute;FICOS BLE SAS
      </strong>responsable del tratamiento de datos personales es: Nit:
      900.231.070-1 con domicilio principal en la Avenida Carrera 86 N&deg;
      15&ordf; - 91 de la ciudad de Bogot&aacute; D.C. v. Ciudad de Cali No. 15A
      &ndash; 91
    </p>
    <p><strong>ALCANCE</strong></p>
    <p>
      Esta Pol&iacute;tica de Protecci&oacute;n de Datos Personales se
      aplicar&aacute; a todas las bases de datos y/o archivos que contengan
      datos personales que sean objeto de tratamiento por parte de <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > considerada como responsable y/o encargada del tratamiento de datos personales.
    </p>
    <p><strong>NORMATIVIDAD</strong></p>
    <p>
      La pol&iacute;tica en <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> se rige
      por lo dispuesto en la legislaci&oacute;n vigente sobre protecci&oacute;n de
      datos personales referidos en: Art&iacute;culo 15 de la Constituci&oacute;n
      Pol&iacute;tica de Colombia, Ley Estatutaria 1266 de 2008, Ley 1273 de 2009,
      Decreto 1727 de 2009, Ley Estatutaria 1581 de 2012, Decreto 1377 de 2013, Decreto
      886 de 2014, Decreto 1074 de 2015 y dem&aacute;s normas que las modifiquen,
      deroguen o sustituyan.&nbsp;
    </p>
    <p><strong>DEFINICIONES </strong></p>
    <p>
      Se tendr&aacute;n en cuenta las siguientes definiciones para efectos de la
      presente pol&iacute;tica:
    </p>
    <ul>
      <li>
        Autorizaci&oacute;n:&nbsp;es el consentimiento previo, expreso e
        informado del titular de la informaci&oacute;n para llevar a cabo el
        tratamiento de datos personales.
      </li>
      <li>
        Aviso de privacidad: es la comunicaci&oacute;n verbal o escrita que
        tiene como fin el informar al titular de los datos sobre la
        pol&iacute;tica de protecci&oacute;n de datos de <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        >.
      </li>
      <li>
        Base de Datos:&nbsp;conjunto organizado de datos personales objeto de
        tratamiento.
      </li>
      <li>
        Dato Personal:&nbsp;cualquier informaci&oacute;n vinculada o que pueda
        asociarse a una o varias personas naturales determinadas o
        determinables.
      </li>
      <li>
        Dato P&uacute;blico:&nbsp;dato que la ley o la Constituci&oacute;n
        determina como tal, as&iacute; como todos aquellos que no sean
        semiprivados o privados.
      </li>
      <li>
        Dato Privado:&nbsp;es aquel dato que por su naturaleza &iacute;ntima o
        reservada s&oacute;lo es relevante para el titular de la
        informaci&oacute;n.
      </li>
      <li>
        Dato Semiprivado:&nbsp;es aquel dato que no tiene naturaleza
        &iacute;ntima, reservada, ni p&uacute;blica y cuyo conocimiento o
        divulgaci&oacute;n puede interesar no s&oacute;lo a su titular sino a
        cierto sector o grupo de personas.
      </li>
      <li>
        Dato Sensible:&nbsp;es el dato que afecta la intimidad del titular o
        cuyo uso indebido puede generar su discriminaci&oacute;n.
      </li>
      <li>
        Encargado del Tratamiento:&nbsp;persona natural o jur&iacute;dica,
        p&uacute;blica o privada, que por s&iacute; misma o en asocio con otros,
        realiza el tratamiento de datos personales por cuenta del responsable
        del tratamiento.
      </li>
      <li>
        Responsable del Tratamiento:&nbsp;persona natural o jur&iacute;dica,
        p&uacute;blica o privada, que por s&iacute; misma o en asocio con otros,
        realiza el tratamiento de datos personales.
      </li>
      <li>
        Titular: persona natural cuyos datos personales son objeto de
        tratamiento. Para <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> ser&aacute;n
        titulares de la informaci&oacute;n los accionistas, clientes, usuarios, distribuidores,
        proveedores, acreedores, deudores, trabajadores, nuestros grupos de inter&eacute;s
        y cualquier otra persona natural cuyos datos sean objeto de tratamiento por
        <strong>FRIGOR&Iacute;FICOS BLE SAS</strong>, ya sea directa o
        indirectamente.
      </li>
      <li>
        Transferencia:&nbsp;tiene lugar cuando el responsable y/o encargado del
        tratamiento de datos personales, ubicado en Colombia, env&iacute;a la
        informaci&oacute;n o los datos personales a un receptor, que a su vez es
        responsable del tratamiento y se encuentra dentro o fuera del
        pa&iacute;s.
      </li>
      <li>
        Transmisi&oacute;n:&nbsp;tratamiento de datos personales que implica la
        comunicaci&oacute;n de estos dentro o fuera del territorio de la
        Rep&uacute;blica de Colombia, con el objeto de que un encargado realice
        tratamiento por cuenta del responsable.
      </li>
      <li>
        Tratamiento:&nbsp;cualquier operaci&oacute;n o conjunto de operaciones
        sobre datos personales, tales como la recolecci&oacute;n,
        almacenamiento, uso, circulaci&oacute;n o supresi&oacute;n.
      </li>
    </ul>
    <p><strong>PRINCIPIOS RECTORES </strong></p>
    <p>
      En virtud de interpretaci&oacute;n y aplicaci&oacute;n jur&iacute;dica, se
      aplicar&aacute;n los siguientes principios:
    </p>
    <ul>
      <li>
        <strong
          >Principio de Legalidad en Materia de Tratamiento de Datos:</strong
        > El Tratamiento es una actividad reglada que debe sujetarse a lo establecido
        en la Ley 1581 del 17 de octubre de 2012, decretos reglamentarios y dem&aacute;s
        disposiciones que la desarrollen.
      </li>
      <li>
        <strong>Principio de Finalidad:</strong> El Tratamiento debe obedecer a una
        finalidad leg&iacute;tima de acuerdo con la Constituci&oacute;n y la Ley,
        la cual debe ser informada al Titular.
      </li>
      <li>
        <strong>Principio de Libertad:</strong> El Tratamiento s&oacute;lo puede
        ejercerse con el consentimiento, previo, expreso e informado del Titular.
        Los datos personales no podr&aacute;n ser obtenidos o divulgados sin previa
        autorizaci&oacute;n, o en ausencia de mandato legal o judicial que releve
        el consentimiento.
      </li>
      <li>
        <strong>Principio de Veracidad o Calidad</strong>: La informaci&oacute;n
        sujeta a Tratamiento debe ser veraz, completa, exacta, actualizada,
        comprobable y comprensible. Se proh&iacute;be el Tratamiento de Datos
        parciales, incompletos, fraccionados o que induzcan a error.
      </li>
      <li>
        <strong>Principio de Transparencia:</strong> En el Tratamiento debe garantizarse
        el derecho del Titular a obtener del responsable del Tratamiento o del Encargado
        del Tratamiento, en cualquier momento y sin restricciones, informaci&oacute;n
        acerca de la existencia de datos que le conciernan.
      </li>
      <li>
        <strong>Principio de Acceso y Circulaci&oacute;n Restringida:</strong> El
        Tratamiento se sujeta a los l&iacute;mites que se derivan de la naturaleza
        de los datos personales, de las disposiciones de la ley y la Constituci&oacute;n.
        En este sentido, el Tratamiento s&oacute;lo podr&aacute; hacerse por personas
        autorizadas por el Titular y/o por las personas previstas en la ley. Los
        datos personales, salvo la informaci&oacute;n p&uacute;blica, no podr&aacute;n
        estar disponibles en Internet u otros medios de divulgaci&oacute;n o comunicaci&oacute;n
        masiva, salvo que el acceso sea t&eacute;cnicamente controlable para brindar
        un conocimiento restringido s&oacute;lo a los Titulares o terceros autorizados.
      </li>
      <li>
        <strong>Principio de Seguridad:</strong> La informaci&oacute;n sujeta a Tratamiento
        por el responsable del Tratamiento o Encargado del Tratamiento a que se refiere
        la ley, se deber&aacute; manejar con las medidas t&eacute;cnicas, humanas
        y administrativas que sean necesarias para otorgar seguridad a los registros
        evitando su adulteraci&oacute;n, p&eacute;rdida, consulta, uso o acceso no
        autorizado o fraudulento.
      </li>
      <li>
        <strong>Principio de Confidencialidad:</strong> Todos los funcionarios y
        contratistas que intervengan en el Tratamiento de Datos Personales que no
        tengan la naturaleza de p&uacute;blicos est&aacute;n obligadas a garantizar
        la reserva de la informaci&oacute;n, inclusive despu&eacute;s de finalizada
        su relaci&oacute;n con alguna de las labores que comprende el Tratamiento,
        pudiendo s&oacute;lo realizar suministro o comunicaci&oacute;n de datos personales
        cuando ello corresponda al desarrollo de las actividades autorizadas en la
        ley y en los t&eacute;rminos de la misma.
      </li>
      <li>
        <strong>Principio de temporalidad:</strong> Los datos personales se conservar&aacute;n
        &uacute;nicamente por el tiempo razonable y necesario para cumplir las finalidades
        que justificaron el tratamiento, atendiendo a las disposiciones aplicables
        a la materia de que se trate y a los aspectos administrativos, contables,
        fiscales, jur&iacute;dicos e hist&oacute;ricos de la informaci&oacute;n.
        Los datos ser&aacute;n conservados cuando ello sea necesario para el cumplimiento
        de una obligaci&oacute;n legal o contractual. Una vez cumplida la finalidad
        del tratamiento y los t&eacute;rminos establecidos anteriormente, se proceder&aacute;
        a la supresi&oacute;n de los datos.
      </li>
      <li>
        <strong
          >Interpretaci&oacute;n integral de los derechos constitucionales</strong
        >: Los derechos se interpretar&aacute;n en armon&iacute;a y en un plano
        de equilibrio con el derecho a la informaci&oacute;n previsto en el
        art&iacute;culo 20 de la Constituci&oacute;n y con los derechos
        constitucionales aplicables.
      </li>
      <li>
        <strong>Principio de Necesidad:</strong> Los datos personales tratados deben
        ser los estrictamente necesarios para el cumplimiento de las finalidades
        perseguidas con la base de datos.
      </li>
    </ul>
    <p><strong>FINALIDAD&nbsp;</strong></p>
    <p>
      Las siguientes son las principales finalidades con las que <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > realiza el tratamiento de la informaci&oacute;n personal:
    </p>
    <p><strong>Clientes y/o usuarios</strong></p>
    <ul>
      <li>
        Conocer su comportamiento financiero, comercial y crediticio y el
        cumplimiento de sus obligaciones legales.
      </li>
      <li>
        Realizar todas las gestiones necesarias tendientes a confirmar y
        actualizar la informaci&oacute;n del cliente y/o usuario.
      </li>
      <li>
        Validar y verificar la identidad del cliente y/o usuario para el
        ofrecimiento y administraci&oacute;n de productos y servicios,
        as&iacute; mismo compartir la informaci&oacute;n con diversos actores
        del mercado.
      </li>
      <li>
        Establecer una relaci&oacute;n contractual, as&iacute; como mantener y
        terminar una relaci&oacute;n contractual.
      </li>
      <li>
        Ofrecer y prestar productos o servicios a trav&eacute;s de cualquier
        medio o canal de acuerdo con el perfil del cliente y/o usuarios y los
        avances tecnol&oacute;gicos.
      </li>
      <li>
        Recibir informaci&oacute;n por parte de FRIGOR&Iacute;FICOS BLE SAS
        respecto a campa&ntilde;as comerciales actuales y futuras,
        promoci&oacute;n de productos y servicios tanto propios como de
        terceros, y dem&aacute;s comunicaciones necesarias para mantener
        comunicado y enterado al cliente mediante: llamada telef&oacute;nica,
        mensaje de texto, correo electr&oacute;nico, Facebook, Twitter,
        Instagram o cualquier red social de integraci&oacute;n o
        mensajer&iacute;a instant&aacute;nea, entre otros.
      </li>
      <li>
        Recibir mensajes relacionados con la gesti&oacute;n de cobro y
        recuperaci&oacute;n de cartera, ya sea directamente o mediante un
        tercero contratado para tal funci&oacute;n.
      </li>
      <li>
        Realizar una adecuada prestaci&oacute;n y administraci&oacute;n de los
        servicios financieros, incluyendo la gesti&oacute;n de cobranza.
      </li>
      <li>
        Suministrar informaci&oacute;n comercial, legal, de productos, de
        seguridad, de servicio o de cualquier otra &iacute;ndole.
      </li>
      <li>
        Conocer la ubicaci&oacute;n y datos de contacto del cliente y/o usuarios
        para efectos de notificaciones con fines de seguridad y ofrecimiento de
        beneficios y ofertas comerciales.
      </li>
      <li>
        Efectuar an&aacute;lisis e investigaciones comerciales,
        estad&iacute;sticas, de riesgos, de mercado, interbancaria y financiera
        incluyendo contactar al cliente para estos fines.
      </li>
      <li>
        Conocer el estado de las operaciones (activas, pasivas o de cualquier
        naturaleza) o las que en el futuro llegue a celebrar el cliente y/o
        usuario con otras entidades comerciales, con cualquier agente o sujeto
        del mercado financiero, operador de informaci&oacute;n, administrador de
        bases de datos o cualquier otra entidad similar que en un futuro se
        establezca y que tenga por objeto cualquiera de las anteriores
        actividades.
      </li>
      <li>
        Prevenir el lavado de activos, la financiaci&oacute;n del terrorismo,
        as&iacute; como detectar el fraude, corrupci&oacute;n, y otras
        actividades ilegales.
      </li>
      <li>
        Realizar, validar, autorizar o verificar transacciones, incluyendo,
        cuando sea requerido, la consulta y reproducci&oacute;n de datos
        sensibles tales como la huella digital, imagen o voz, entre otros.
      </li>
      <li>
        Realizar encuestas de satisfacci&oacute;n concerniente a los servicios
        prestados por <strong>FRIGOR&Iacute;FICOS BLE SAS.</strong>
      </li>
      <li>
        Consultar multas y sanciones ante las diferentes autoridades
        administrativas y judiciales o bases de datos p&uacute;blicas que tengan
        como funci&oacute;n la administraci&oacute;n de datos de esta
        naturaleza.
      </li>
    </ul>
    <p>
      Con el fin de mejorar la experiencia de nuestros canales digitales y
      permitir el acceso a diversas funcionalidades y gestionar la seguridad, <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > realizar&aacute; los siguientes usos en los dispositivos electr&oacute;nicos
      previa autorizaci&oacute;n del titular y de conformidad con lo que el titular
      decida compartir con <strong>FRIGOR&Iacute;FICOS BLE SAS:</strong>
    </p>
    <ul>
      <li>
        Acceso a la geolocalizaci&oacute;n del dispositivo, para realizar una
        mejor gesti&oacute;n de la seguridad, proporcionar y ofrecer
        experiencias y productos personalizados, y compartirlo con aliados.
      </li>
      <li>
        Acceso a fotos, medios, archivos y almacenamiento, para la lectura de
        c&oacute;digos QR o de barras o similares, personalizar el canal
        digital, guardar y compartir im&aacute;genes de los movimientos con
        terceros, compartir documentos con <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        >.
      </li>
      <li>
        Acceso a c&aacute;mara, para leer c&oacute;digos QR o de barras o
        similares, realizar biometr&iacute;as faciales para autenticaci&oacute;n
        o firma, escaneo de documento que el titular decida compartir con <strong
          >FRIGOR&Iacute;FICOS BLE SAS.</strong>
      </li>
      <li>
        Acceso a la informaci&oacute;n de conexi&oacute;n, id del dispositivo
        m&oacute;vil, informaci&oacute;n del rendimiento de la aplicaci&oacute;n
        con la finalidad de realizar una mejor gesti&oacute;n de la seguridad,
        proporcionar y ofrecer experiencias y productos personalizados y
        habilitar funcionalidades.
      </li>
    </ul>
    <p></p>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS </strong>en ning&uacute;n momento
      podr&aacute; acceder a fotos personales, archivos guardados, historial de
      conversaciones, tel&eacute;fonos de contacto y, en general,
      informaci&oacute;n confidencial que administra el titular en su
      dispositivo m&oacute;vil para finalidades diferentes a las expuestas. 
      Estos accesos pueden ser modificados en cualquier momento en las opciones
      de configuraci&oacute;n del dispositivo electr&oacute;nico, cuando
      aplique.
    </p>
    <p><strong>Proveedores</strong></p>
    <ul>
      <li>
        La informaci&oacute;n solicitada al proveedor podr&aacute; incluir
        informaci&oacute;n de la persona natural o jur&iacute;dica seg&uacute;n
        corresponda. As&iacute; mismo, es posible que se solicite
        informaci&oacute;n de los empleados del proveedor que se encuentren
        dedicados a cumplir alguna funci&oacute;n o relaci&oacute;n con <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        > que por la labor desempe&ntilde;ada requieran acceso a las instalaciones,
        a los aplicativos y/o sistemas u otros de la empresa.
      </li>
      <li>
        Realizar el proceso de vinculaci&oacute;n del proveedor con la empresa,
        generando el desarrollo de los procedimientos internos, los cuales son
        de relacionamiento, contables, financieros, comerciales,
        log&iacute;sticos, entre otros.
      </li>
      <li>
        Administrar y verificar antecedentes comerciales, reputacionales y los
        riesgos de lavado de activos y financiaci&oacute;n del terrorismo,
        as&iacute; como para detectar y/o prevenir el fraude, corrupci&oacute;n
        y otras actividades ilegales, por parte del proveedor o sus empleados en
        relaci&oacute;n con la operaci&oacute;n de <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        >.
      </li>
      <li>
        Gestionar y fortalecer las relaciones contractuales con el proveedor,
        permitiendo un mayor control en las obligaciones asumidas por las
        partes.
      </li>
      <li>
        Revisar y evaluar los resultados del proveedor, con el fin de fortalecer
        los procesos de contrataci&oacute;n dentro de <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        >.
      </li>
      <li>
        Ofrecer y prestar productos o servicios a trav&eacute;s de cualquier
        medio o canal de acuerdo con el perfil del proveedor y de acuerdo con
        los avances tecnol&oacute;gicos.
      </li>
      <li>
        Efectuar an&aacute;lisis e investigaciones comerciales,
        estad&iacute;sticas, de riesgos, de mercado, interbancaria y financiera
        a partir de los resultados del proveedor.
      </li>
    </ul>
    <p><strong>Trabajadores</strong></p>
    <p>
      La informaci&oacute;n que <strong
        >FRIGOR&Iacute;FICOS BLE SAS
      </strong>recolecta de aspirantes o candidatos a cargos dentro de la
      organizaci&oacute;n es tratada con la finalidad de realizar la
      evaluaci&oacute;n de ingreso y el proceso de vinculaci&oacute;n del
      candidato.
    </p>
    <p>
      El tratamiento de la informaci&oacute;n personal de nuestros trabajadores
      tiene como finalidad la gesti&oacute;n de las relaciones laborales
      existentes con &eacute;stos, as&iacute; como el desarrollo de las
      diferentes actividades establecidas por la empresa. Entre las cuales
      resaltamos las siguientes:
    </p>
    <ul>
      <li>
        Dar cumplimiento a las obligaciones y derechos derivados de su actividad
        como empleador, y a las actividades propias de su objeto social
        principal y conexo, las cuales pueden ser realizadas directamente o con
        el apoyo de terceros con los que se compartir&aacute; su
        informaci&oacute;n para los fines relacionados con el objeto del
        contrato.
      </li>
      <li>
        Compartir sus datos personales con las autoridades (judiciales o
        administrativas) nacionales o extranjeras cuando la solicitud se base en
        razones legales, procesales, y/o tributarias.
      </li>
      <li>
        Acceso y autorizaci&oacute;n de los beneficios establecidos por el
        empleador, seg&uacute;n los requisitos definidos en cada caso.
      </li>
      <li>
        Consulta de sus datos en las listas internas de control, en cumplimiento
        de las normas nacionales y pol&iacute;ticas internas asociadas al
        Sistema de Administraci&oacute;n del Riesgo de Lavado de Activos y
        Financiaci&oacute;n del Terrorismo &ndash; SARLAFT, as&iacute; como el
        cumplimiento con est&aacute;ndares de &eacute;tica e integridad
        establecidos por <strong>FRIGOR&Iacute;FICOS BLE SAS</strong>.
      </li>
    </ul>
    <p>
      Trat&aacute;ndose de trabajadores retirados, <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > almacenar&aacute;, aun despu&eacute;s de finalizado el contrato de trabajo,
      la informaci&oacute;n necesaria para cumplir con las obligaciones que puedan
      derivarse en virtud de la relaci&oacute;n laboral que existi&oacute; conforme
      a la legislaci&oacute;n colombiana, o en virtud de los servicios que en virtud
      de la relaci&oacute;n puedan llegar a prestarse, al igual que, proporcionar
      las certificaciones laborales que sean solicitadas por el extrabajador o por
      terceros frente a quienes aquel adelante un proceso de selecci&oacute;n.
    </p>
    <p><strong>Accionistas</strong></p>
    <p>
      La informaci&oacute;n y los datos personales de los accionistas, incluida
      informaci&oacute;n personal, de contacto, as&iacute; como la
      informaci&oacute;n y documentaci&oacute;n suministrada a trav&eacute;s de
      canales virtuales, canal telef&oacute;nico, correo electr&oacute;nico y
      actualizaciones de informaci&oacute;n ser&aacute;n recolectados,
      consultados, actualizados, modificados y procesados directamente por <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > y/o por los terceros designados por &eacute;ste, para los siguientes fines:
    </p>
    <ul>
      <li>
        Dar cumplimiento a las obligaciones y derechos derivados de su calidad
        de emisor y depositante respectivamente.
      </li>
      <li>
        Realizar las actividades de administraci&oacute;n integral del libro de
        registro de accionistas.
      </li>
      <li>
        Brindar la informaci&oacute;n relacionada con tr&aacute;mites, quejas y
        solicitudes de los accionistas.
      </li>
      <li>
        Dar acceso a la informaci&oacute;n a las autoridades judiciales o
        administrativas que soliciten dichos datos en ejercicio de sus
        funciones.
      </li>
      <li>
        Administrar el riesgo de Lavado de Activos y Financiaci&oacute;n del
        Terrorismo y de corrupci&oacute;n.
      </li>
      <li>
        El cumplimiento de las actividades y fines necesarios de la
        relaci&oacute;n emisor &ndash; accionistas.
      </li>
    </ul>
    <p>
      <strong
        >Acceso a edificios, vigilancia y seguridad de las instalaciones</strong>
    </p>
    <ul>
      <li>
        Contar con informaci&oacute;n de cada uno de los empleados, del personal
        outsourcing, temporal que labora al servicio de <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        > y de los visitantes que ingresen a las oficinas o instalaciones de la empresa.
      </li>
      <li>Controlar e identificar el acceso a las sedes administrativas.</li>
      <li>
        Mantener la seguridad y control de accesos a las instalaciones de la
        empresa.
      </li>
    </ul>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> les informa a todos los titulares
      que los datos recolectados directamente en los puntos de seguridad establecidos
      en las instalaciones de la empresa, que sean suministrados en documentos del
      personal de seguridad, y los datos obtenidos de las videograbaciones que se
      realizan dentro o fuera de las instalaciones de <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      >, se utilizan con fines de seguridad de las personas, los bienes e
      instalaciones.
    </p>
    <p><strong>VIDEOVIGILANCIA </strong></p>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS </strong>emplea medios de video
      vigilancia instalados en diferentes lugares de las instalaciones y/o
      oficinas. La informaci&oacute;n recolectada se utilizar&aacute; para fines
      de seguridad de las personas, bienes e instalaciones, asimismo, puede ser
      utilizada como prueba en cualquier tipo de proceso ante cualquier tipo de
      autoridad y organizaci&oacute;n.
    </p>
    <p>
      <strong>DERECHOS DE LOS TITULARES DE LOS DATOS PERSONALES&nbsp;</strong>
    </p>
    <p>
      Las personas naturales cuyos Datos Personales sean objeto de Tratamiento
      por parte de <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> pueden:
    </p>
    <ul>
      <li>
        Conocer, actualizar, rectificar, suprimir o revocar sus datos personales
        y ser informados del tratamiento que <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        > realiza sobre los datos personales.
      </li>
      <li>
        Presentar solicitudes y reclamos relacionados con la regulaci&oacute;n
        vigente en materia de Protecci&oacute;n de Datos Personales.
      </li>
      <li>
        Solicitar revocatoria de la autorizaci&oacute;n y/o supresi&oacute;n de
        un dato personal en el caso de determinarse que <strong
          >FRIGOR&Iacute;FICOS BLE SAS</strong
        > presenta una conducta contraria a la regulaci&oacute;n vigente. La solicitud
        de supresi&oacute;n o revocatoria no proceder&aacute; cuando los titulares
        tengan el deber legal o contractual de permanecer en la base de datos de
        <strong>FRIGOR&Iacute;FICOS BLE SAS</strong>.
      </li>
    </ul>
    <p><strong>AUTORIZACI&Oacute;N&nbsp;</strong></p>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> solicitar&aacute; la autorizaci&oacute;n
      de manera que el titular de la informaci&oacute;n otorgue su consentimiento
      previo, expreso e informado del tratamiento al cual son sujetos sus datos personales.
    </p>
    <p>
      La autorizaci&oacute;n tambi&eacute;n podr&aacute; obtenerse a partir de
      conductas inequ&iacute;vocas del titular del dato, las cuales permitan
      concluir de manera razonable que &eacute;ste otorg&oacute; su
      consentimiento para el tratamiento de su informaci&oacute;n. Dichas
      conductas deben exteriorizar de manera clara la voluntad de autorizar el
      tratamiento.
    </p>
    <p>
      El consentimiento del titular se podr&aacute; obtener por cualquier medio
      que pueda ser objeto de consulta posterior, tales como,
      comunicaci&oacute;n escrita, verbal, virtual o por conductas
      inequ&iacute;vocas.
    </p>
    <p>Esta manifestaci&oacute;n de voluntad del Titular puede darse por:</p>
    <p>
      1- Por escrito, por ejemplo, diligenciando el formato de
      autorizaci&oacute;n establecido por la compa&ntilde;&iacute;a
    </p>
    <p>
      2- De forma oral, por ejemplo, en una conversaci&oacute;n
      telef&oacute;nica o en videoconferencia.
    </p>
    <p>
      3- Mediante conductas inequ&iacute;vocas que permitan concluir que
      otorg&oacute; su autorizaci&oacute;n, por ejemplo, a trav&eacute;s de su
      aceptaci&oacute;n expresa a los T&eacute;rminos y Condiciones de una
      actividad dentro de los cuales se requiera la autorizaci&oacute;n de los
      participantes para el Tratamiento de sus Datos Personales.
    </p>
    <p>
      En virtud de su naturaleza y objeto social, <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > recibe, recolecta, registra, conserva, almacena, modifica, reporta, consulta,
      entrega, transmite, transfiere, comparte y elimina informaci&oacute;n personal,
      para lo cual obtiene la previa autorizaci&oacute;n del titular.
    </p>
    <p>
      La autorizaci&oacute;n que le otorgan los titulares de la
      informaci&oacute;n a <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> permite entre
      otras cosas, la realizaci&oacute;n de las siguientes finalidades: ofrecer y
      suministrar informaci&oacute;n de los productos y servicios, as&iacute; como
      consultar, reportar y actualizar sus datos ante los operadores de informaci&oacute;n
      y riesgo; actualizar las relaciones contractuales vigentes y dar cumplimiento
      a las obligaciones pactadas, entre otras (ver contenido FINALIDAD).
    </p>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> conservar&aacute; prueba de dichas
      autorizaciones de manera adecuada, velando y respetando los principios de privacidad
      y confidencialidad de la informaci&oacute;n.
    </p>
    <p>
      As&iacute; mismo, en <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> cuando se
      trate de informaci&oacute;n que se relacione con los siguientes tipos de datos,
      se tendr&aacute;n las siguientes consideraciones especiales:
    </p>
    <ol>
      <li>Datos sensibles</li>
    </ol>
    <p>
      Para el tratamiento de datos sensibles, <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > informar&aacute; al titular de los datos lo siguiente:
    </p>
    <ul>
      <li>
        Para el tratamiento de este tipo de informaci&oacute;n el titular no
        est&aacute; obligado a dar su autorizaci&oacute;n o consentimiento.
      </li>
      <li>
        Se informar&aacute; de forma expl&iacute;cita y previa qu&eacute; tipo
        de datos sensibles ser&aacute;n solicitados.
      </li>
      <li>
        Se comunicar&aacute; el tratamiento y la finalidad que se le dar&aacute;
        a los datos sensibles.
      </li>
      <li>
        La autorizaci&oacute;n de los datos sensibles ser&aacute; previa,
        expresa y clara.
      </li>
    </ul>
    <ol>
      <li>Datos de ni&ntilde;os, ni&ntilde;as y adolescentes.</li>
    </ol>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> se asegurar&aacute; que el tratamiento
      de este tipo de datos se realice de conformidad con los derechos de los ni&ntilde;os,
      ni&ntilde;as y adolescentes. En este sentido, se proteger&aacute; su car&aacute;cter
      especial y velar&aacute; por el respeto de sus derechos fundamentales, de acuerdo
      con lo dispuesto en los art&iacute;culos 5, 6 y 7 de la Ley 1581 de 2012, y
      en los art&iacute;culos 6 y 12 del Decreto 1377 de 2013, y dem&aacute;s normas
      que los modifiquen o adicionen.
    </p>
    <p>
      Para efectos de cumplir lo anterior, <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > actuar&aacute; de conformidad con lo siguiente:
    </p>
    <ul>
      <li>
        Se solicitar&aacute; autorizaci&oacute;n del representante legal del
        ni&ntilde;o, ni&ntilde;a o adolescente previo ejercicio del menor de su
        derecho a ser escuchado, opini&oacute;n que ser&aacute; valorada
        teniendo en cuenta la madurez, autonom&iacute;a y capacidad para
        entender el asunto, a efectos de realizar el tratamiento de sus datos
        personales.
      </li>
      <li>
        Se informar&aacute; el car&aacute;cter facultativo de responder
        preguntas acerca de los datos de los ni&ntilde;os, ni&ntilde;as o
        adolescentes.
      </li>
      <li>
        Se informar&aacute; de forma expl&iacute;cita y previa cu&aacute;les son
        los datos objeto de tratamiento y la finalidad de este.
      </li>
    </ul>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> informa a todos sus grupos de
      inter&eacute;s que, de conformidad con el art&iacute;culo 10 de la Ley 1581
      de 2012, la autorizaci&oacute;n del titular no ser&aacute; necesaria cuando
      se trate de: (1) informaci&oacute;n requerida por una entidad p&uacute;blica
      o administrativa en ejercicio de sus funciones legales o por orden judicial,
      (2) datos de naturaleza p&uacute;blica, (3) casos de urgencia m&eacute;dica
      o sanitaria, (4) tratamiento de informaci&oacute;n autorizado por la ley para
      fines hist&oacute;ricos, estad&iacute;sticos o cient&iacute;ficos, y (5) datos
      relacionados con el Registro Civil de las Personas.
    </p>
    <p>
      <strong
        >&Aacute;REA RESPONSABLE DE LA IMPLEMENTACI&Oacute;N Y OBSERVANCIA DE
        ESTA POL&Iacute;TICA&nbsp;</strong>
    </p>
    <p>
      La gerencia general tiene a su cargo la labor de desarrollo,
      implementaci&oacute;n, capacitaci&oacute;n y observancia de esta
      Pol&iacute;tica. Para el efecto, todos los funcionarios que realizan el
      Tratamiento de Datos Personales en las diferentes &aacute;reas de <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > est&aacute;n obligados a dar traslado a la gerencia, de todas las peticiones,
      consultas, quejas y reclamos que se reciban por parte de los Titulares de Datos
      Personales en los tiempos establecidos por la Ley.
    </p>
    <p>
      Asimismo, la gerencia general ha sido designada por <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > como responsable de la atenci&oacute;n de peticiones, consultas, quejas y
      reclamos ante la cual el Titular de la informaci&oacute;n podr&aacute; ejercer
      sus derechos a conocer, actualizar, rectificar y suprimir el dato y revocar
      la autorizaci&oacute;n.&nbsp;
    </p>
    <p>
      <strong
        >ATENCI&Oacute;N Y RESPUESTA A PETICIONES, CONSULTAS, QUEJAS Y
        RECLAMOS&nbsp;</strong>
    </p>
    <p>
      El Titular o sus apoderados podr&aacute;n solicitar a FRIGOR&Iacute;FICOS
      BLE SAS, a trav&eacute;s de una petici&oacute;n, consulta, queja o reclamo
      sus derechos a conocer, corregir, actualizar, rectificar y suprimir
      informaci&oacute;n y revocar la autorizaci&oacute;n.&nbsp;
    </p>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> ha dispuesto el correo: <a
        href="mailto:info@frigorificosble.com"
        >info@FRIGOR&Iacute;FICOSble.com</a
      > y el sitio web <a href="https://frigorificosble.com/"
        >https://FRIGOR&Iacute;FICOSble.com/</a
      > para la recepci&oacute;n y atenci&oacute;n de solicitudes, todos los cuales
      permiten conservar prueba de estas.
    </p>
    <p>
      Para el efecto, se seguir&aacute; el siguiente procedimiento, de
      conformidad con la Ley de Protecci&oacute;n de Datos Personales:
    </p>
    <ul>
      <li>
        Comunicaci&oacute;n dirigida a LA EMPRESA. La solicitud deber&aacute;
        contener como m&iacute;nimo la descripci&oacute;n de los hechos que dan
        lugar a la petici&oacute;n, consulta, queja o reclamo, la
        direcci&oacute;n y datos de contacto del solicitante.
      </li>
      <li>
        Si la petici&oacute;n, consulta, queja o reclamo se presentan
        incompletos, <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> deber&aacute; requerir
        al interesado dentro de los cinco (5) d&iacute;as siguientes a la recepci&oacute;n
        de la queja o reclamo para que subsane las fallas.
      </li>
      <li>
        Transcurrido un (1) meses desde la fecha del requerimiento, sin que el
        solicitante presente la informaci&oacute;n requerida, se
        entender&aacute; que ha desistido de la queja o reclamo.
      </li>
      <li>
        El t&eacute;rmino m&aacute;ximo para atender la queja o el reclamo
        ser&aacute; de quince (15) d&iacute;as h&aacute;biles contados a partir
        del d&iacute;a siguiente a la fecha de su recibo.
      </li>
      <li>
        Cuando no fuere posible atender la queja o el reclamo dentro de dicho
        t&eacute;rmino, se informar&aacute; al interesado los motivos de la
        demora y la fecha en que se atender&aacute; la queja o reclamo, la cual
        en ning&uacute;n caso podr&aacute; superar los ocho (8) d&iacute;as
        h&aacute;biles siguientes al vencimiento del primer t&eacute;rmino.
      </li>
    </ul>
    <p><strong>SEGURIDAD DE LOS DATOS PERSONALES&nbsp;</strong></p>
    <p>
      FRIGOR&Iacute;FICOS BLE SAS, en estricta aplicaci&oacute;n del Principio
      de Seguridad en el Tratamiento de Datos Personales, proporcionar&aacute;
      las medidas t&eacute;cnicas, humanas y administrativas que sean necesarias
      para otorgar seguridad a los registros evitando su adulteraci&oacute;n,
      p&eacute;rdida, consulta, uso o acceso no autorizado o fraudulento. La
      obligaci&oacute;n y responsabilidad de <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > se limita a disponer de los medios adecuados para este fin. <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > no garantiza la seguridad total de su informaci&oacute;n ni se responsabiliza
      por cualquier consecuencia derivada de fallas t&eacute;cnicas o del ingreso
      indebido por parte de terceros a la Base de Datos o Archivo en los que reposan
      los Datos Personales objeto de Tratamiento por parte de <strong
        >FRIGOR&Iacute;FICOS BLE SAS</strong
      > y sus Encargados.
    </p>
    <p>
      <strong>FRIGOR&Iacute;FICOS BLE SAS</strong> exigir&aacute; a los proveedores
      de servicios que contrata, la adopci&oacute;n y cumplimiento de las medidas
      t&eacute;cnicas, humanas y administrativas adecuadas para la protecci&oacute;n
      de los Datos Personales en relaci&oacute;n con los cuales dichos proveedores
      act&uacute;en como Encargados.&nbsp;
    </p>
    <p>
      <strong
        >TRANSFERENCIA, TRANSMISI&Oacute;N Y REVELACI&Oacute;N DE DATOS
        PERSONALES&nbsp;</strong>
    </p>
    <p>
      Eventualmente <strong>FRIGOR&Iacute;FICOS BLE SAS</strong>, como
      responsable de la informaci&oacute;n personal almacenada en sus bases de
      datos y en desarrollo de las finalidades descritas en el presente
      documento, podr&aacute; realizar transferencia o transmisi&oacute;n
      nacional o internacional de datos.
    </p>
    <p><strong>VIGENCIA&nbsp;</strong></p>
    <p>
      Esta Pol&iacute;tica de Protecci&oacute;n de Datos Personales entra en
      vigor una vez aprobado y publicado dicho documento.
    </p>
  </div>

  <style>
    h1 {
      color: #2c3e50;
      text-align: center;
    }
    h2 {
      color: #34495e;
      margin-top: 30px;
    }
    ul,
    ol {
      margin-left: 20px;
    }
    .section {
    }
    .signature {
      margin-top: 40px;
      text-align: center;
      font-style: italic;
    }
  </style>
</Layout>
