---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="politicas max-w-4xl mx-auto bg-bleBlanco">
    <h1>Política de Prevención del Acoso Sexual</h1>
    <h1><strong>1. Objetivo</strong></h1>
    <p>
      La presente política tiene como objetivo garantizar un ambiente laboral
      libre de acoso sexual, promoviendo el respeto, la igualdad y la dignidad
      de todas las personas en nuestra organización, en cumplimiento de la Ley
      2365 de 2024 y demás normas que la complementen, adiciones o modifiquen.
    </p>
    <p></p>
    <p><strong>2. Principios</strong></p>
    <p>
      Esta política se rige por los principios de pro persona y pro víctima,
      igualdad, justicia restaurativa, debido proceso, imparcialidad, celeridad
      y confidencialidad, prevención, justicia, equidad de género, libertad y
      dignidad.
    </p>
    <p></p>
    <p><strong>3. Definición</strong></p>
    <p>
      El acoso sexual se define como todo acto de persecución, hostigamiento o
      asedio, de carácter o connotación sexual, lasciva o libidinosa, que se
      manifieste por relaciones de poder de orden vertical u horizontal,
      mediadas por la edad, el sexo, el género, orientación e identidad sexual,
      la posición laboral, social, o económica, que se dé una o varias veces en
      contra de otra persona en el contexto laboral (artículo 2 de la Ley 2365
      de 2024).
    </p>
    <p></p>
    <p><strong>4. Medidas de Prevención</strong></p>
    <ul>
      <li>
        <p>
          <strong>Capacitación y Sensibilización:</strong> Se realizarán talleres
          y capacitaciones periódicas para todos los trabajadores sobre la prevención
          del acoso sexual y la promoción de un ambiente de respeto.
        </p>
      </li>
      <li>
        <p>
          <strong>Difusión de la Política:</strong> Esta política será difundida
          a todos los trabajadores y estará disponible en los lugares visibles de
          la empresa.
        </p>
      </li>
      <li>
        <p>
          <strong>Área/cargo competente:</strong> Se establece que el de Gestión
          Humana será la encargada de recibir, investigar y dar seguimiento a las
          denuncias de acoso sexual.
        </p>
      </li>
    </ul>
    <p><strong>5. Procedimiento para Denuncias</strong></p>
    <ul>
      <li>
        <p>
          <strong>Canales de Denuncia:</strong> Las denuncias de acoso sexual podrán
          ser presentadas a través de los siguientes canales:
        </p>
        <ul>
          <li>
            <p>
              Área de Gestión Humana: De manera física o a través de la
              dirección electrónica <strong
                >gestionhumana@frigorificosble.com</strong
              >
            </p>
          </li>
          <li>
            <p>Línea de atención confidencial <strong>320 257 13 45</strong></p>
          </li>
        </ul>
      </li>
      <li>
        <p>
          <strong>Confidencialidad:</strong> Todas las denuncias serán tratadas con
          la máxima confidencialidad y respeto hacia las partes involucradas.
        </p>
      </li>
      <li>
        <p>
          <strong>Investigación:</strong> El Área de Gestión Humana llevará a cabo
          una investigación imparcial de las denuncias, garantizando el derecho de
          defensa de las partes.
        </p>
      </li>
      <li>
        <p>
          <strong>Efectos:</strong> El incumplimiento de las obligaciones o prohibiciones
          contenidas en la presente política o en la Ley 2365 de 2024 y normas que
          la reglamenten, modifiquen o sustituyan, será considerado como falta grave
          aún por la primera vez.&nbsp;
        </p>
      </li>
    </ul>
    <p></p>
    <p>
      Para el caso de los demás actores que participen en el contexto laboral y
      cuya vinculación con <strong>FRIGORIFICOS BLE SAS</strong> no sea mediante
      contrato de trabajo, se dará aplicación a lo dispuesto en el documento que
      regule la relación contractual del caso.
    </p>
    <p></p>
    <p><strong>6. Protección a las Víctimas</strong></p>
    <ul>
      <li>
        <p>
          <strong>Confidencialidad:</strong> Se garantizará la confidencialidad de
          la identidad de la víctima y de los detalles de la denuncia. Solo las personas
          directamente involucradas en la investigación tendrán acceso a esta información.
        </p>
      </li>
      <li>
        <p>
          <strong>Protección contra Retaliaciones:</strong> Se tomarán medidas en
          procura de evitar a las víctimas de cualquier tipo de represalia o intimidación
          por parte del acosador o de otros trabajadores. Cualquier acto de represalia
          será tratado como una falta grave y será sujeto a medidas disciplinarias.
        </p>
      </li>
      <li>
        <p>
          <strong>Reubicación Temporal o Permanente:</strong> En casos donde resulte
          viable y se considere pertinente, se podrá determinar la reubicación temporal
          o permanente de la víctima a otro departamento o área de trabajo para evitar
          el contacto con el acosador.
        </p>
      </li>
      <li>
        <p>
          <strong>Trabajo en Casa o Teletrabajo:</strong> En casos donde resulte
          viable y se considere pertinente, se podrá habilitar la prestación del
          servicio a través de trabajo en casa o teletrabajo.
        </p>
      </li>
      <li>
        <p>
          <strong>Seguimiento:</strong> Se realizará un seguimiento de la situación
          de la víctima para asegurarse de que las medidas de protección sean efectivas
          y para ofrecer apoyo adicional si es necesario.
        </p>
      </li>
    </ul>
    <p><strong>7. Obligaciones</strong></p>
    <ul>
      <li>
        <p>
          <strong>Empleador:</strong> El empleador es responsable de implementar
          y hacer cumplir esta política, así como de procurar un ambiente laboral
          libre de acoso sexual. Las obligaciones específicas del empleador incluyen:
        </p>
        <ul>
          <li>
            <p>
              <strong>Desarrollar e Implementar la Política:</strong> Crear y poner
              en práctica una política clara y comprensible sobre la prevención del
              acoso sexual.
            </p>
          </li>
          <li>
            <p>
              <strong>Capacitación:</strong> Proveer capacitación regular a todos
              los trabajadores sobre la prevención del acoso sexual y la promoción
              de un ambiente de respeto.
            </p>
          </li>
          <li>
            <p>
              <strong>Establecer Canales de Denuncia:</strong> Asegurar que existan
              canales accesibles y confidenciales para que los trabajadores puedan
              denunciar casos de acoso sexual.
            </p>
          </li>
          <li>
            <p>
              <strong>Investigación Imparcial:</strong> Garantizar que todas las
              denuncias de acoso sexual sean investigadas de manera imparcial y exhaustiva.
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <p></p>
    <ul>
      <li>
        <p>
          <strong>Tomar Medidas Correctivas:</strong> Aplicar medidas disciplinarias
          adecuadas en caso de comprobarse la existencia de acoso sexual.
        </p>
      </li>
      <li>
        <p>
          <strong>Proteger a las Víctimas:</strong> Implementar medidas de protección
          para las víctimas de acoso sexual y asegurar que no sufran represalias.
        </p>
      </li>
      <li>
        <p>
          <strong>Monitoreo y Evaluación:</strong> Realizar un seguimiento continuo
          de la efectividad de la política y hacer ajustes según sea necesario.
        </p>
      </li>
      <li>
        <p>
          <strong>Trabajadores:</strong> Todos los trabajadores tienen la responsabilidad
          de respetar esta política y de contribuir a la creación de un ambiente
          de trabajo seguro y respetuoso. Las obligaciones específicas de los trabajadores
          incluyen:
        </p>
        <ul>
          <li>
            <p>
              <strong>Cumplir con la Política:</strong> Conocer y cumplir con los
              lineamientos establecidos en esta política.
            </p>
          </li>
          <li>
            <p>
              <strong>Participar en Capacitaciones:</strong> Asistir a las capacitaciones
              y talleres sobre prevención de acoso sexual organizados por la empresa.
            </p>
          </li>
          <li>
            <p>
              <strong>Reportar Incidentes:</strong> Informar de inmediato cualquier
              incidente de acoso sexual a través de los canales de denuncia establecidos.
            </p>
          </li>
          <li>
            <p>
              <strong>Colaborar en Investigaciones:</strong> Cooperar con las investigaciones
              llevadas a cabo por el Área de Gestión Humana.
            </p>
          </li>
          <li>
            <p>
              <strong>Respetar a los Compañeros:</strong> Mantener un comportamiento
              respetuoso y profesional hacia todos los compañeros de trabajo, evitando
              cualquier conducta que pueda ser considerada acoso sexual.
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <p>
      ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Todo aquel que participe en el
      contexto laboral de <strong>FRIGORIFICOS BLE SAS</strong> tienen la responsabilidad
      de respetar esta política y de contribuir a la creación de un ambiente de trabajo
      seguro y respetuoso.
    </p>
    <p><strong>8. Procedimiento a Seguir en Caso de Queja</strong></p>
    <ul>
      <li>
        <p>
          <strong>Presentación de la Queja:</strong> La queja de acoso sexual puede
          ser presentada por cualquier empleado, contratista, proveedor o persona
          que tenga una relación laboral o contractual con la empresa. La queja debe
          ser presentada ante el Área de Gestión Humana.
        </p>
      </li>
      <li>
        <p>
          <strong>Recepción de la Queja:</strong> Una vez recibida la queja, se debe
          registrar de manera confidencial y se debe informar a la persona que presenta
          la queja sobre el proceso que se seguirá. Es importante garantizar la confidencialidad
          de la identidad de la víctima y de los detalles de la denuncia.
        </p>
      </li>
    </ul>
    <p></p>
    <p></p>
    <ul>
      <li>
        <p>
          <strong>Investigación:</strong> El Área de Gestión Humana llevará a cabo
          una investigación imparcial y exhaustiva de la queja. Durante la investigación,
          se garantizará el derecho de defensa de las partes involucradas y se recopilarán
          todas las pruebas necesarias y posibles para determinar la veracidad de
          la queja.
        </p>
      </li>
      <li>
        <p>
          <strong>Medidas Provisionales:</strong> Durante la investigación, se pueden
          implementar medidas provisionales para proteger a la víctima, como cambios
          en el lugar de trabajo, horarios de trabajo flexibles, o cualquier otra
          medida que garantice la seguridad y bienestar de la víctima, a criterio
          del empleador.
        </p>
      </li>
      <li>
        <p>
          <strong>Decisión:</strong> Una vez finalizada la investigación, el Área
          de Gestión Humana tomará una decisión sobre la queja. Si se comprueba la
          existencia de acoso sexual, se aplicarán las medidas disciplinarias correspondientes,
          entendiendo que las faltas podrán considerarse faltas graves, aún por la
          primera vez.
        </p>
      </li>
      <li>
        <p>
          <strong>Notificación:</strong> La decisión del Área de Gestión Humana será
          notificada a las partes involucradas. Se garantizará que la víctima sea
          informada sobre las medidas que se tomarán para proteger su seguridad y
          bienestar.
        </p>
      </li>
      <li>
        <p>
          <strong>Seguimiento:</strong> Se realizará un seguimiento continuo de la
          situación de la víctima para asegurarse de que las medidas de protección
          sean efectivas y para ofrecer apoyo adicional si es necesario.
        </p>
      </li>
    </ul>
    <p><strong>9. Responsabilidades de las ARL</strong></p>
    <ul>
      <li>
        <p>
          <strong>Fortalecimiento de la Atención:</strong> Las Administradoras de
          Riesgos Laborales (ARL) deben realizar actividades de fortalecimiento de
          la atención, protección y prevención del acoso sexual en el contexto laboral
          de la <strong>FRIGORIFICOS BLE SAS</strong>.
        </p>
      </li>
      <li>
        <p>
          <strong>Asesoría y Capacitación:</strong> Las ARL deben asesorar y capacitar
          a Área de Gestión Humana para el desarrollo y fortalecimiento de las competencias
          comportamentales y actitudinales.
        </p>
      </li>
    </ul>
    <p>
      <strong
        >10. Procedimiento para los demás participantes en el contexto laboral
        de FRIGORIFICOS BLE SAS</strong
      >
    </p>
    <ul>
      <li>
        <p>
          <strong>Inclusión en la Política:</strong> Los demás participantes en el
          contexto laboral<strong> </strong>se consideran parte del contexto
          laboral independientemente de la naturaleza de su vinculación. Esto
          incluye interacciones en el lugar de trabajo, desplazamientos, viajes,
          eventos o actividades sociales o de formación relacionados con el
          trabajo.
        </p>
      </li>
      <li>
        <p>
          <strong>Procedimiento de Queja:</strong> Los demás participantes en el
          contexto laboral pueden presentar quejas de acoso sexual a través de los
          mismos canales establecidos para los trabajadores. Las quejas serán tratadas
          con la misma confidencialidad y seriedad.
        </p>
      </li>
    </ul>
    <p></p>
    <ul>
      <li>
        <p>
          <strong>Protección y Apoyo:</strong> Los demás participantes en el contexto
          laboral tendrán acceso a las mismas medidas de protección y apoyo que resulten
          viables y les sean aplicables.
        </p>
      </li>
    </ul>
    <p></p>
    <p><strong>11. Revisión y Actualización</strong></p>
    <p>
      Esta política será revisada y actualizada conforme con la legislación
      vigente.
    </p>
    <p></p>
    <p></p>
    <p></p>
    <p>
      Para constancia se firma el presente documento en la ciudad de Bogotá DC.,
      a 13 los días del mes de septiembre del año 2024.
    </p>
  </div>
</Layout>
