---
import PrevAcoso from "@/components/politicas/PrevAcoso.astro";
import TratamientoDatos from "@/components/politicas/TratamientoDatos.astro";
---

<footer class="footer bg-bleAzul text-bleBlanco items-center p-4">
  <div>
    <div>
      <button class="btn btn-ghost btn-sm" onclick="PrevAcoso.showModal()"
        >Política de prevención del acoso sexual
      </button>
    </div>
    <div>
      <button
        class="btn btn-ghost btn-sm"
        onclick="TratamientoDatos.showModal()"
        >Política de tratamiento y protección de datos personales
      </button>
    </div>
  </div>
  <aside class="grid-flow-col items-center">
    <p>© {new Date().getFullYear()} - Frigoríficos BLE S.A.S.</p>
    <p>Avenida carrera 86 # 15 A – 91</p>
  </aside>
</footer>

<dialog id="PrevAcoso" class="modal">
  <div class="modal-box max-w-full md:max-w-4xl absolute top-10">
    <PrevAcoso />
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Cerrar</button>
  </form>
</dialog>
<dialog id="TratamientoDatos" class="modal">
  <div class="modal-box max-w-full md:max-w-4xl absolute top-10">
    <TratamientoDatos />
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>Cerrar</button>
  </form>
</dialog>
